/*字体大小*/
@b-size: 1.2rem;
@s-size: 1.3rem;
@m-size: 1.4rem;
@l-size: 1.5rem;
@xl-size: 1.6rem;
/*常用色值*/
@black10:#000;
@black07:rgba(0,0,0,0.7);
@black06:rgba(0,0,0,0.6);

.theme4_main{
	width:100%;
	height:100%;
	overflow:hidden;
	}
.theme4_main .main{
		width:100%;
		position:relative;
		}
.main .theme4_main_bg{
			width:100%;
			display:block;
		}
	.theme4_main_list{
		width:100%;
		height:9rem;
		display:-webkit-box;
		display:box;
		margin:0px;
		padding:0px;
		background:url(../../image/theme004/bg.png) repeat;
		// position: absolute;
		// position: fixed;
		// bottom: 0px;
		// left: 0px;
		li{
			width:25%;
			list-style:none;
			background-repeat:no-repeat;
			background-size:100%;
			border-right:1px #AFACAC solid;
			cursor: pointer;
			-webkit-tap-highlight-color: transparent;
			img{
				width: 70%;
				display: block;
				margin:0px auto;
			}
			p{
				width: 100%;
				text-align:center;
				color:#fff;
				font-size:@l-size;
				margin-bottom: 4%;
				font-family: 'Microsoft Yahei';
				font-weight: normal;
			}
			
			&:last-child{
				border-right:0px;
			}
		}

	}
.bg{
	width:100px;
}
