/*字体大小*/
@b-size: 1.2rem;
@s-size: 1.3rem;
@m-size: 1.4rem;
@l-size: 1.5rem;
@xl-size: 1.6rem;
/*常用色值*/
@black10:#000;
@black07:rgba(0,0,0,0.7);
@black06:rgba(0,0,0,0.6);

.theme3_main{
	width:100%;
	div{
		width:100%;
		position:relative;
		.theme3_main_bg{
			width:100%;
			display:block;
		}
		.theme3_main_logo{
			position: absolute;
			left: 5%;
			top: 5%;
		}
	}
	.theme3_main_list{
		width:100%;
		box-sizing:border-box;
		-webkit-box-sizing:border-box;
		margin:0px;
		padding:0px;
		position: fixed;
    	bottom: 0;
		li{
			width:100%;
			padding:0px 5%;
			box-sizing:border-box;
			-webkit-box-sizing:border-box;
			list-style:none;
			height:44px;
			background: url('../../image/theme003/bgred.png') repeat-x center center transparent;
			display: -webkit-box;
			display: box;
			border-bottom: 1px solid #fff;
			h2{
				width:30%;
			    color: #fff;
			    line-height: 14px;
			    font-size: 1.6rem;
			}
			p{
				color: #fff;
    			line-height: 44px;
    			width:65%;
    			font-size:@b-size;
			}
			span{
				background: url('../../image/theme003/arrows.png') no-repeat;
				background-size: 100%;
				margin-top: 9px;
				width: 15px;
				height: 34px;
				display: block;
			}
			&:last-child{
				border-bottom:0px;
			}
		}

	}
}