/*字体大小*/
@b-size: 1.2rem;
@s-size: 1.3rem;
@m-size: 1.4rem;
@l-size: 1.5rem;
@xl-size: 1.6rem;
/*常用色值*/
@black10:#000;
@black07:rgba(0,0,0,0.7);
@black06:rgba(0,0,0,0.6);

#myapp>div{
	width:100%;
	height:100%;
}
.index017_content {
  width:100%;
  height:100%;
  overflow:hidden;
  position:relative;
}
.index017_main{
  width:100%;
  height:100%;
  position:absolute;
  left:0px;
  top:0px;
}
.index017_list{
  width:90%;
  padding-bottom:90%;
  border-radius:50%;
  background:rgba(255,255,255,0.3);
  margin:25% auto;
  position:relative;
}
.index017_nature {
  display:block;
  width:40%;
  padding-bottom:40%;
  text-align:center;
  text-shadow:1px 1px 1px rgba(0,0,0,.3);
  cursor:pointer;
  border-radius:50%;
  background: #eaeaea;
  box-shadow:2px 3px 8px #999;
  position:absolute;
  left:30%;
  top:30%;
}
.index017_nature .index017_logo{
  width:100%;
  height:100%;
  border-radius:50%;
  position:absolute;
  top:0px;
  left:0px;
  overflow:hidden;
}
.index017_nature .index017_logo img{
  width: 80%;
  margin: auto;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.index017_reset li {
  position:absolute;
  width:100%;
  height:100%;
  text-align:center;
  color:#fff;
}
.index017_reset li a {
  width:100%;
  height:100%;
  display:block;
  text-shadow:none;
}
.index017_reset li div{
  width:100%;
  height:100%;
}
.index017_reset li div img{
  width: 55%;
  position: relative;
  top: 0;
  left: 0;
  margin: 10% auto 0;
}
.index017_reset li div p{
  width:100%;
  text-align:center;
  font-size:@s-size;
  margin-top:-8%;
  color:#fff;
}
.index017_leftbot{
  width: 90%;
  padding-bottom: 90%;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.3);
  position: absolute;
  left: -55%;
  bottom: -35%;;
}
.index017_leftbot .index017_left{
  width:40%;
  position:absolute;
  left:55%;
  top:7%;
  cursor:pointer;
}
.index017_leftbot .index017_left img{
  width:55%;
  display:block;
  margin:0 auto;
}
.index017_leftbot .index017_left p{
  text-align:center;
  color:#fff;
  font-size:@s-size;
  margin-top:-8%;
}
//安卓大屏手机
@media screen and (width: 360px) and (min-height: 530px) {
  html {
    font-size: 62.5%;
  }
  .index017_leftbot .index017_left {
    top: 12%;
  }
}
//魅族手机单独处理
@media screen and (width: 384px) and (height: 519px) {
  html {
    font-size: 62.5%;
  }
  .index017_list{
    margin:10% auto;
  }
  .index017_leftbot {
    width: 80%;
    padding-bottom: 80%;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.3);
    position: absolute;
    left: -165px;
    bottom: -175px;
  }
  .index017_leftbot .index017_left {
    width: 40%;
    position: absolute;
    left: 52%;
    top: 12%;
    cursor: pointer;
  }
}


