/*字体大小*/
@b-size: 1.2rem;
@s-size: 1.3rem;
@m-size: 1.4rem;
@l-size: 1.5rem;
@xl-size: 1.6rem;
/*常用色值*/
@black10:#000;
@black07:rgba(0,0,0,0.7);
@black06:rgba(0,0,0,0.6);

#myapp>div{
	width:100%;
	height:100%;
}
.theme024_container {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}
.theme024_headImg{
  width: 100%;
  height: 24rem;
  position: relative;
  overflow: hidden;
}
.theme024_headImg>img{
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}
.theme024_headBox{
  width: 100%;
  height: 100%;
  padding-top: 7.5rem;
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0.6);
}
.theme024_logo{
  margin: 0 auto;
  display: block;
}
.theme024_name{
  width: 100%;
  margin-top: 1.2rem;
  height: 1.5rem;
  line-height: 1.5rem;
  color: #fff;
  text-align: center;
  font-size: 1.6rem;
}
.theme024_headMenu{
  width: 100%;
  height: 4.25rem;
  position: absolute;
  left: 0;
  bottom: 0;
  display: box;
  display: -webkit-box;
}
.theme024_headMenu li{
  -webkit-box-flex: 1;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  padding: .8rem;
  box-sizing: border-box;
}
.theme024_headMenu li img{
  height: 60%;
  display: block;
  margin: 0 auto;
}
.theme024_headMenu li span{
  width: 100%;
  display: block;
  height: 2rem;
  line-height: 2rem;
  text-align: center;
  color: #706f6f;
  font-size: 1rem;
}
.theme024_aboutUs{
  width: 100%;
  background: #d9d9d9;
  padding: 1.5rem; 
  box-sizing: border-box;
}
.theme024_aboutUs .title{
  width: 100%;
  height: 1.25rem;
  line-height: 1.25rem;
  text-align: center;
  color: #d21f1f;
  margin-bottom: 1rem;
  font-size: 1.5rem;
}
.theme024_aboutUs .content{
  width: 100%;
  line-height: 1.5rem;
  text-align: center;
  color: #4b4b4b;
}
.theme024_aboutUs .view{
  width: 33%;
  height: 3rem;
  border-radius: 1.5rem;
  border: 1px solid #b0b0b0;
  text-align: center;
  line-height: 3rem;
  margin: 1rem auto;
  font-size: 1.4rem;
  color: #b0b0b0;
  background: #cecece;
}
.theme024_gradient{
  width: 100%;
  height: 1.5rem;
  margin-top: -0.1rem;
  background: -webkit-linear-gradient(#d9d9d9, #afafaf);
}





// .theme024_content_lawyer{
//   width: 100%;
//   height: 1.8rem;
//   line-height: 1.8rem;
//   color: #fff;
//   font-size: 1.8rem;
//   margin-bottom: 1rem;
// }
// .theme024_content_lawyer i{
//   font-style: normal;
//   color: #d74218;
//   font-size: 1.2rem;
//   margin-left: 1rem;
// }
// .theme024_content_depart{
//   width: 100%;
//   height: 1.2rem;
//   line-height: 1.2rem;
//   margin-bottom: 1rem;
//   color: #fff;
//   opacity: 0.5;
//   font-size: 1.2rem;
// }
// .theme024_content_depart span{
//   margin-right: 1rem;
//   margin-bottom: 1rem;
//   display: inline-block;
// }
.theme024_menu_list{
  width: 100%;
  padding: 0.1rem .375rem 0.25rem;
  box-sizing: border-box;
  background: #d9d9d9;
}
.theme024_menu_list li{
  list-style: none;
  -webkit-tap-highlight-color: transparent;
  margin-top: .25rem;
  width: 100%;
  height: 5.625rem;
  color: #4b4b4b;
  line-height: 5.625rem;
  cursor: pointer;
  background: #f0f0f0;
  padding: 0 1.5rem;
  box-sizing: border-box;
}
.theme024_menu_list li a{
  width: 100%;
  height: 100%;
  display: block;
  color: #fff;
  font-size: 1.6rem;
  -webkit-tap-highlight-color: transparent;
  background: url("../../image/index024_narrow.png") no-repeat right center;
  display: box;
  display: -webkit-box;
}
.theme024_menu_list li a img{
  height: 50%;
  margin-top: 5%;
  margin-right: 5%;
  display: block;
}
.theme024_menu_list li a p{
  height: 100%;
  font-size: 1.4rem;
  color: #d31111;
}
@media screen and (width: 320px) {
  html {
    font-size: 62.5%;
  }
}

@media screen and (min-width: 321px) and (max-width: 360px) {
  html {
    font-size: 62.5%;
  }
}
@media screen and (min-width: 361px) and (max-width: 376px) {
  html {
    font-size: 66.5%;
  }
  
}
@media screen and (min-width: 377px) and (max-width: 414px) {
  html {
    font-size: 75.5%;
  }
  
}
@media screen and (width: 384px) and (height: 519px) {
  html {
    font-size: 66.5%;
  }
  
}
@media screen and (min-width: 415px) {
  html {
    font-size: 80%;
  }
}

//魅族手机单独处理
