<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>聊天列表</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width,height=device-height,user-scalable=no,initial-scale=1">
  <meta name="x5-orientation" content="portrait">
  <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
  <meta http-equiv="Pragma" content="no-cache" />
  <meta http-equiv="Expires" content="0" />
  <link rel="stylesheet" href="../css/style.css">
</head>
<body>
	<div id="wrap">
		<div class="chatList">
			<ul class="chat_list">
				<li class="chat_list_usr">
					<div class="chat_list_head">
						<img src="../image/logo.png">
						<i>李小冉</i>
					</div>
					<div class="chat_list_content">
						<span>供热个别国家还不热环分为方便维护经费为境吧</span>
					</div>
					
				</li>
				<li class="chat_list_exp">
					
					<div class="chat_list_head">
						<img src="../image/ali.png">
						<i>李大律</i>
					</div>
					<div class="chat_list_content">
						<span>供热个别国家环境吧</span>
					</div>
				</li>
				<li class="chat_list_usr">
					<div class="chat_list_head">
						<img src="../image/logo.png">
						<i>李小冉</i>
					</div>
					<div class="chat_list_content">
						<span>供热个别国家还不热环分为方便维护经费为境吧</span>
					</div>
					
				</li>
				<li class="chat_list_exp">
					
					<div class="chat_list_head">
						<img src="../image/ali.png">
						<i>李大律</i>
					</div>
					<div class="chat_list_content">
						<span>供热个别国家环境吧</span>
					</div>
				</li>
				<li class="chat_list_usr">
					<div class="chat_list_head">
						<img src="../image/logo.png">
						<i>李小冉</i>
					</div>
					<div class="chat_list_content">
						<span>供热个别国家还不热环分为方便维护经费为境吧</span>
					</div>
					
				</li>
				<li class="chat_list_exp">
					
					<div class="chat_list_head">
						<img src="../image/ali.png">
						<i>李大律</i>
					</div>
					<div class="chat_list_content">
						<span>供热个别国家环境吧</span>
					</div>
				</li>
				<li class="chat_list_usr">
					<div class="chat_list_head">
						<img src="../image/logo.png">
						<i>李小冉</i>
					</div>
					<div class="chat_list_content">
						<span>供热个别国家还不热环分为方便维护经费为境吧</span>
					</div>
					
				</li>
				<li class="chat_list_exp">
					
					<div class="chat_list_head">
						<img src="../image/ali.png">
						<i>李大律</i>
					</div>
					<div class="chat_list_content">
						<span>供热个别国家环境吧</span>
					</div>
				</li>
				
			</ul>
			<div class="chat_box">
				<span class="chat_btn">问题关闭</span>
				<input type="text" name="" class="chat_inp">
				<span class="chat_btn" id="chat_btn">发送</span>
			</div>
		</div>
		
	</div>
	<script src="../lib/zepto.min.js"></script>
	<script src="../js/common.js"></script>
	<script src="../js/publishQuestions.js"></script>
</body>
</html>