<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>聊天列表</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width,height=device-height,user-scalable=no,initial-scale=1">
  <meta name="x5-orientation" content="portrait">
  <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
  <meta http-equiv="Pragma" content="no-cache" />
  <meta http-equiv="Expires" content="0" />
  <link rel="stylesheet" href="../css/pullToRefresh.css">
  <link rel="stylesheet" href="../css/style.css">
  
</head>
<body>
	<div id="box">
		<div class="chatList_top">
			<div class="chatList_top_box">
				律师动态
			</div>
			<div class="chatList_lawyer">
				<img class="chatList_lawyer_img" src="../image/ali.png">
				<div class="chatList_lawyer_content">
					<div>
						<span class="chatList_lawyer_title"></span>
						<span class="chatList_lawyer_desc"></span>
					</div>
					<p>
						<span class="chatList_lawyer_time"></span>
						<span class="chatList_lawyer_nice"></span>
						<span class="chatList_lawyer_tip"></span>
					</p>
				</div>
			</div>
		</div>
		<div class="chatList_index_close">
			<span class="chat_goHome">律师主页</span>
			<span style="display:none;" class="chatList_index_close_heart">送心意</span>
			<span class="chatList_index_close_close" id="close_question">结束咨询</span>
		</div>
		
		<div class="chatList_index_no">
			红名言律师未创建主页
		</div>
		<div class="chatList">
			<div id="wrapper">
				<ul id="chat_list" class="chat_list">
					
				</ul>
			</div>
			<div class="chat_box">
				<input type="text" name="" class="chat_inp">
				<span class="chat_btn" id="chat_btn">发送</span>
			</div>
			<div class="evaluate_box">
				<div class="evaluate_tip">我的评论：</div>
				<div class="evaluate_con"></div>
			</div>
		</div>
	</div>
	<script src="../lib/jquery.min.js"></script>
	<script src="../lib/iscroll.js"></script>
	<script src="../lib/pullToRefresh.js"></script> 
	<script src="../lib/strophe.js"></script>
	<script src="../lib/easemob.im-1.1.1.js"></script>
	<script src="../lib/easemob.im.shim.js"></script>
	<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
	<script src="../js/common.js"></script>
	<script src="../js/chatList.js"></script>
</body>
</html>