<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width,height=device-height,user-scalable=no,initial-scale=1">
  <meta name="x5-orientation" content="portrait">
  <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
  <meta http-equiv="Pragma" content="no-cache" />
  <meta http-equiv="Expires" content="0" />
  <link rel="stylesheet" href="../css/style.css">
</head>
<body>
	<div id="wrap">
		<div class="questionList">
			<ul class="que_list">
				<li>
					<span class="que_list_money">￥500元</span>
					<span>您好，我想咨询下，劳动派遣合同与公司解除劳动合同，是否能得到赔偿？</span>
					<br/>
					<span class="que_list_time">3小时前</span>
					<span class="que_list_close">已关闭</span>
				</li>
			</ul>
			<ul class="que_list chat_list">
				<li class="chat_list_usr">
					<div class="chat_list_head">
						<img src="../image/ali.png">
						<span>李小冉</span>
					</div>
					<div class="chat_list_content">
						<span>供热个别国家还不热环境吧</span>
					</div>
				</li>
			</ul>
			<textarea class="pub_area" placeholder="服务评价 我要评价..."></textarea>
			<div class="eva_box">
				<span class="eva_nice" id="eva_nice">为律师点赞</span>
				<span class="eva_btn">提交</span>
			</div>
		</div>
		
	</div>
	<script src="../lib/zepto.min.js"></script>
	<script src="../js/common.js"></script>
	<script src="../js/evaluate.js"></script>
</body>
</html>