<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>问题详情</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width,height=device-height,user-scalable=no,initial-scale=1">
  <meta name="x5-orientation" content="portrait">
  <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
  <meta http-equiv="Pragma" content="no-cache" />
  <meta http-equiv="Expires" content="0" />
  <link rel="stylesheet" href="../css/style.css">
</head>
<body>
	<div id="wrap">
		<div class="questionList">
			<ul class="que_list question">
				<li>
					<span class="que_list_money">￥500元</span>
					<span>您好，我想咨询下，劳动派遣合同与公司解除劳动合同，是否能得到赔偿？</span>
					<br/>
					<span class="que_list_time">3小时前</span>
					<span class="que_list_unsolved">未解决</span>
				</li>
			</ul>
			<ul class="que_list chat_list detail_list">
				
				<li class="chat_list_exp">
					<div class="chat_list_head">
						<img src="../image/ali.png">
						<i>李大律</i>
					</div>
					<div class="chat_list_content">
						<span>供热个别国家还不热环境吧</span>
					</div>
					
				</li>
				<li class="chat_list_usr">
					<div class="chat_list_content">
						<span>供热个别国家还不热环境吧</span>
					</div>
					<div class="chat_list_head">
						<img src="../image/ali.png">
						<i>李小冉</i>
					</div>
				</li>
			</ul>
			<div class="detail_box">
				<span class="detail_close">问题关闭</span>
				<span class="detail_goon">继续提问</span>
			</div>
		</div>
		
	</div>
	<script src="../lib/zepto.min.js"></script>
	<script src="../js/common.js"></script>
	<script src="../js/questionDetail.js"></script>
</body>
</html>