<div class="view">
	<div class="view_title">微网站管理</div>
	<div class="manage_content">
		<div class="mc_left">
			<ul class="mcl_list">
				<li class="text-active">
					<img src="image/manage/microapp.png" width="18" height="18"/>
					<span><a href="javascript:void(0)">我的微应用</a></span>
				</li>
				<!-- <li ng-click="vm.menuLink('micro')">
					<img src="image/manage/micro.png" width="18" height="18"/>
					<span><a href="javascript:void(0)">微网站首页设置</a></span>
				</li>
				<li ng-click="vm.menuLink('card')">
					<img src="image/manage/card.png" width="18" height="18"/>
					<span><a href="javascript:void(0)">微名片信息</a></span>
				</li>
				<li ng-click="vm.menuLink('wx')">
					<img src="image/manage/wx.png" width="18" height="18"/>
					<span><a href="javascript:void(0)">公众号设置</a></span>
				</li>
				<li ng-click="vm.menuLink('data')">
					<img src="image/manage/data.png" width="18" height="18"/>
					<span><a href="javascript:void(0)">用户数据</a></span>
				</li>
				<li class="text-active" ng-click="vm.menuLink('manage')">
					<img src="image/manage/set.png"  width="18" height="18"/>
					<span><a href="javascript:void(0)">内容维护</a></span>
				</li> -->
			</ul>
		</div>
		<div class="mc_right">
			
			<div class="active_box">
				<div class="active_expired">
					<h4></h4>
					<div class="active_title">
						绿石微应用过期!
					</div>
					<p>您的微应用已经于 <span>{{vm.endTime}}</span> 过期，请联系绿石客服付费后继续使用</p>
					<p>客服电话：010-8567-8723</p>
				</div>
				
			</div>
		</div>
		<div class="clean"></div>
	</div>
</div>
