<div class="view">
	<div class="view_title">微网站管理</div>
	<div class="manage_content">
		<div class="mc_left">
			<ul class="mcl_list">
				<li class="text-active">
					<img src="image/manage/microapp.png" width="18" height="18"/>
					<span><a href="javascript:void(0)">我的微应用</a></span>
				</li>
				<!-- <li ng-click="vm.menuLink('micro')">
					<img src="image/manage/micro.png" width="18" height="18"/>
					<span><a href="javascript:void(0)">微网站首页设置</a></span>
				</li>
				<li ng-click="vm.menuLink('card')">
					<img src="image/manage/card.png" width="18" height="18"/>
					<span><a href="javascript:void(0)">微名片信息</a></span>
				</li>
				<li ng-click="vm.menuLink('wx')">
					<img src="image/manage/wx.png" width="18" height="18"/>
					<span><a href="javascript:void(0)">公众号设置</a></span>
				</li>
				<li ng-click="vm.menuLink('data')">
					<img src="image/manage/data.png" width="18" height="18"/>
					<span><a href="javascript:void(0)">用户数据</a></span>
				</li>
				<li class="text-active" ng-click="vm.menuLink('manage')">
					<img src="image/manage/set.png"  width="18" height="18"/>
					<span><a href="javascript:void(0)">内容维护</a></span>
				</li> -->
			</ul>
		</div>
		<div class="mc_right">
			<div class="active_title">
				欢迎使用绿石微应用!
			</div>
			<div class="active_img">
				<img src="../../image/active.png" alt="">
			</div>
			<div class="active_box">
				<div class="active_traval">
					<p>您已获得<span>7天</span>试用</p>
					<p>点击“激活”以开启微应用体验之旅</p>
				</div>
				<div class="active_agreement"><input type="checkbox" id="active"><label for="active"></label>我已阅读并同意<a href="#">绿石微应用协议</a></div>
				<div class="active_btn" ng-click="vm.setActiveState()">激活</div>
			</div>
		</div>
		<div class="clean"></div>
	</div>
</div>
