<div class="view">
	<div class="view_title">微网站管理</div>
	<div class="manage_content">
		<div class="mc_left">
			<ul class="mcl_list">
				<!-- <li>
					<img src="image/manage/fans.png" width="18" height="18"/>
					<span><a href="#manage">粉丝数据</a></span>
				</li>
				<li>
					<img src="image/manage/wx.png" width="18" height="18"/>
					<span><a href="#manage">公众号运营</a></span>
				</li> -->
				<li ng-click="vm.menuLink('data')">
					<img src="image/manage/data.png" width="18" height="18"/>
					<span><a href="javascript:void(0)">用户数据</a></span>
				</li>
				<li class="text-active" ng-click="vm.menuLink('manage')">
					<img src="image/manage/set.png"  width="18" height="18"/>
					<span><a href="javascript:void(0)">内容维护</a></span>
				</li>
			</ul>
		</div>
		<div class="mc_right">
			<div class="mcr_search">
				<span>王杰律师团队</span>
			</div>
			<div class="list_lenged">
				<h3 class="red">{{vm.title}} &gt; {{vm.titleFlag}}</h3>
			<span ng-click="vm.goBack()"><img src="image/return.png" width="20" height="20"/> 返回</span>
			</div>
			<form class="add_form">
				<div class="af_input">
				  <span>标题：</span>
					<input type="text" ng-model="vm.createInfo.title" placeholder="请输入文档标题"/>
				</div>
				<div class="af_textarea">
					<span>摘要：</span>
					<textarea ng-model="vm.createInfo.describe">这里写一段简短的文章简介，微网站文章详情页可以看到。</textarea>
				</div>
				<div class="af_input">
					<span class="ai_checkbox">引用链接：<i ng-click="vm.checkUserChoose()" class="">√</i></span>
					<input ng-show="!vm.showUeditorFlag" ng-model="vm.createInfo.url" type="text" placeholder="请输入链接地址"/>
				</div>
				<div class="af_ueditor" ng-show="vm.showUeditorFlag">
					<span>正文：</span>
					<!-- <iframe  src="lib/ueditor/index.html" frameborder="no" border="0" width="100%" height="100%"></iframe> -->
					<script id="editor" type="text/plain" style="width:100%;height:300px;"></script>
				</div>
				<div class="af_btn">
					<span ng-click="vm.submitArticleInfo(0)">暂存</span>
					<span ng-click="vm.submitArticleInfo(1)">发布</span>
				</div>
			</form>
		</div>
		<div class="clean"></div>
	</div>
</div>
