<div class="view">
	<div class="view_title">微网站管理</div>
	<div class="manage_content">
		<div class="mc_left">
			<ul class="mcl_list">
				<!-- <li>
					<img src="image/manage/fans.png" width="18" height="18"/>
					<span><a href="#manage">粉丝数据</a></span>
				</li> -->
				<li ng-click="vm.menuLink('micro')">
					<img src="image/manage/micro.png" width="18" height="18"/>
					<span><a href="javascript:void(0)">微网站首页设置</a></span>
				</li>
				<li class="text-active" ng-click="vm.menuLink('card')">
					<img src="image/manage/card.png" width="18" height="18"/>
					<span><a href="javascript:void(0)">微名片信息</a></span>
				</li>
				<li ng-click="vm.menuLink('data')">
					<img src="image/manage/data.png" width="18" height="18"/>
					<span><a href="javascript:void(0)">用户数据</a></span>
				</li>
				<li ng-click="vm.menuLink('manage')">
					<img src="image/manage/set.png"  width="18" height="18"/>
					<span><a href="javascript:void(0)">内容维护</a></span>
				</li>
			</ul>
		</div>
		<div class="mc_right">
			<div class="mc_right_do">
				<div class="list_lenged">
					<h3 class="red">微名片信息</h3>
				<!-- <span ng-click="vm.goBack()"><img src="image/return.png" width="20" height="20"/> 返回</span> -->
				</div>
				<div class="mr_box">
					<div class="mb_left" style="height:662px;">
						<div class="mb_shadow"></div>
						<iframe src="http://dist.green-stone.cn/mobile/#/card?ownUri=e442" width="320" height="660"></iframe>
					</div>
					<div class="mb_right">
						<span>重新定制</span>
						<div class="mb_input">
							<i>微网站地址</i>
							<input type="text" disabled value="http://dist.green-stone.cn/mobile/#/card?ownUri=e442"/>
						</div>
						<div class="mb_input">
							<i>二维码地址</i>
							<img src="" height="" width="">
						</div>
					</div>
				</div>
			</div>
			<div class="mc_right_undo">
				<div class="list_lenged">
					<h3 class="red">微名片基本信息</h3>
				<!-- <span ng-click="vm.goBack()"><img src="image/return.png" width="20" height="20"/> 返回</span> -->
				</div>
				
					<form class="form_box">
						<p><span class="input_span">头像：</span><label for="head"  class="input_box">点此选择头像</label><input type="file" id="head" style="display:none"></p>
						<p><span>姓名：</span><input type="text"></p>
						<p><span>律所：</span><input type="text"></p>
						<p><span>职务：</span><input type="text"></p>
						<p><span class="input_span">二维码：</span><label for="qrcode" class="input_box">点此选择二维码</label><input type="file" id="qrcode" style="display:none"><i>（建议选择上传个人微信公众号的二维码）</i></p>
						<p><span>电话：</span><input type="text"></p>
						<p><span>邮箱：</span><input type="text"></p>
						<p><span>传真：</span><input type="text"></p>
						<p><span>网址：</span><input type="text"></p>
						<p><span>地址：</span><input type="text"></p>
						<p><span>简介：</span><textarea></textarea></p>
						<p><span>专业领域：</span><textarea></textarea></p>
				<div class="list_lenged">
					<h3 class="red">微名片基本信息</h3>
				<!-- <span ng-click="vm.goBack()"><img src="image/return.png" width="20" height="20"/> 返回</span> -->
				</div>
				<div class="share_box">
					<p>分享标题</p>
					<input type="text" placeholder="张律师微网站">
					<p>分享摘要</p>
					<textarea placeholder="张律师微网站">
						 	
					</textarea>
					<p>分享的标题和摘要实际显示字数根据按微信字数规范进行截断</p>
					<p><span class="input_span">分享图标</span><label for="icon"  class="input_box">点此选择图标</label><input type="file" id="icon" style="display:none"><i>（请准确填写，用于地图导航）</i></p>
					<button>保存生效</button><button>取消</button>
				</div>
				</div>
			</div>
		</div>
		<div class="clean"></div>
	</div>
</div>
