<div class="view">
	<div class="view_title">微网站管理</div>
	<div class="manage_content">
		<div class="mc_left">
			<ul class="mcl_list">
				<!-- <li>
					<img src="image/manage/fans.png" width="18" height="18"/>
					<span><a href="#manage">粉丝数据</a></span>
				</li> -->
				<li ng-click="vm.menuLink('micro')">
					<img src="image/manage/micro.png" width="18" height="18"/>
					<span><a href="javascript:void(0)">微网站首页设置</a></span>
				</li>
				<li class="text-active" ng-click="vm.menuLink('card')">
					<img src="image/manage/card.png" width="18" height="18"/>
					<span><a href="javascript:void(0)">微名片信息</a></span>
				</li>
				<li ng-click="vm.menuLink('wx')">
					<img src="image/manage/wx.png" width="18" height="18"/>
					<span><a href="javascript:void(0)">公众号设置</a></span>
				</li>
				<li ng-click="vm.menuLink('data')">
					<img src="image/manage/data.png" width="18" height="18"/>
					<span><a href="javascript:void(0)">用户数据</a></span>
				</li>
				<li ng-click="vm.menuLink('manage')">
					<img src="image/manage/set.png"  width="18" height="18"/>
					<span><a href="javascript:void(0)">内容维护</a></span>
				</li>
			</ul>
		</div>
		<div class="mc_right">
			<div class="mc_right_do">
				<div class="list_lenged">
					<h3 class="red">微名片信息</h3>
				<!-- <span ng-click="vm.goBack()"><img src="image/return.png" width="20" height="20"/> 返回</span> -->
				</div>
				<div class="mr_box">
					<ul class="step_nav">
						<li ng-click="vm.resetCard()" class="line"><i></i>资料填写<b></b></li>
						<li ng-click="vm.menuLink('card2')" class="line"><i></i>分享设置<b></b></li>
						<li ng-click="vm.menuLink('card3')" class="color"><i></i>微名片预览<b></b></li>
					</ul>
				</div>
				<div class="mr_box">
					<div class="mb_left" style="height:722px;">
						<div class="mb_shadow"></div>
						<!-- <iframe ng-src={{vm.url}} width="320" height="660"></iframe> -->
					</div>
					<div class="mb_right">
						<span  ng-click="vm.resetCard()">重新定制</span>
						<div class="mb_input">
							<i>微网站地址</i>
							<input type="text" disabled value={{vm.url}} />
						</div>
						<div class="mb_input">
							<i>二维码地址</i>
							<img src={{vm.qrcode}} height="200" width="200">
						</div>
					</div>
				</div>
			</div>
			
			</div>
		</div>
		<div class="clean"></div>
	</div>
</div>
