<div class="view">
	<div class="view_title">
		工作室管理
		<select ng-class="vm.orgOrPer" ng-model="vm.abc" ng-options="x as x.tn for x in vm.contentList" ng-change="vm.switchPerOrg(vm.abc.ida)" >
			<option ng-selected="vm.selectedState" value="">--请选择--</option>
		</select>
		<span class="perLawyer">
			<img src= {{vm.headImg}} width="20" height="20">
			{{vm.lawyerName}} 律师
		</span>
	</div>
	<div class="manage_content">
		<div class="mc_left">
			<ul class="mcl_list">
				<!-- <li>
					<img src="image/manage/fans.png" width="18" height="18"/>
					<span><a href="#manage">粉丝数据</a></span>
				</li> -->
				<li ng-click="vm.menuLink('micro')">
					<img src="image/manage/micro.png" width="18" height="18"/>
					<span><a href="javascript:void(0)">工作室首页设置</a></span>
				</li>
				<li class="text-active" ng-click="vm.menuLink('card3')">
					<img src="image/manage/card.png" width="18" height="18"/>
					<span><a href="javascript:void(0)">微名片信息</a></span>
				</li>
				<li ng-click="vm.menuLink('wx')">
					<img src="image/manage/wx.png" width="18" height="18"/>
					<span><a href="javascript:void(0)">公众号设置</a></span>
				</li>
				<li ng-click="vm.menuLink('data')">
					<img src="image/manage/data.png" width="18" height="18"/>
					<span><a href="javascript:void(0)">用户数据</a></span>
				</li>
				<li ng-click="vm.menuLink('manage')">
					<img src="image/manage/set.png"  width="18" height="18"/>
					<span><a href="javascript:void(0)">内容维护</a></span>
				</li>
				<li ng-click="vm.menuLink('filelist',1)" ng-if="vm.isDeptAdmin">
					<img src="image/manage/class.png"  width="20" height="20"/>
					<span><a href="javascript:void(0)">微课堂</a></span>
				</li>
				<li ng-click="vm.menuLink('filelist',2)" ng-if="vm.isDeptAdmin">
					<img src="image/manage/file.png"  width="20" height="20"/>
					<span><a href="javascript:void(0)">文件</a></span>
				</li>
				<li ng-click="vm.menuLink('filelist',3)" ng-if="vm.isDeptAdmin">
					<img src="image/manage/notice.png"  width="20" height="20"/>
					<span><a href="javascript:void(0)">通知</a></span>
				</li>
			</ul>
		</div>
		<div class="mc_right">
			<div class="list_lenged">
				<h3 class="red">微名片基本信息</h3>
			<!-- <span ng-click="vm.goBack()"><img src="image/return.png" width="20" height="20"/> 返回</span> -->
			</div>
			<div class="mr_box">
				<ul class="step_nav">
					<li class="color"><i></i>资料填写<b></b></li>
					<!-- <li class="line"><i></i>分享设置<b></b></li> -->
					<li class="line"><i></i>微名片预览<b></b></li>
				</ul>
			</div>
			<div class="mc_right_content">
				<div class="mc_right_undo">
					<form class="form_box">
						<div class="mb_input mc_input me_input">
							<i class="input_span">头像：</i>
							<a href="javascript:void(0);">
								<img src="image/docs/add.png" width="20" height="20"/> 选择照片
								<input type="file" id="choose_file" ng-model="vm.fileName"/>
							</a>
							<span class="card1_preview" id="img_preview"></span>
							<div class="form_box_crop">
								<button ng-click="vm.uploadFile()">
									上传头像
								</button>
								<div class="card1_left">
									<img ng-show="vm.hiddenInitImg" id="themeCropper" src={{vm.head}}>
								</div>
							</div>
						</div>
						<div class="mb_input mc_input">
							<i>姓名：</i>
							<input type="text" ng-model="vm.user.NAME" placeholder="您的真实姓名">
							<div class="step5_validate">
								<span ng-class="vm.calLength(vm.user.NAME)>18?'red':''">
								{{vm.calLength(vm.user.NAME)}}</span><i> / 18</i>
								<b ng-show="vm.calLength(vm.user.NAME)>18">字数超过限制</b>
							</div>
						</div>
						<div class="mb_input mc_input">
							<i>单位：</i>
							<input type="text" ng-model="vm.user.Depart" value="律师事务所" placeholder="单位名称">
							<div class="step5_validate">
								<span ng-class="vm.calLength(vm.user.Depart)>26?'red':''">
								{{vm.calLength(vm.user.Depart)}}</span><i> / 26</i>
								<b ng-show="vm.calLength(vm.user.Depart)>26">字数超过限制</b>
							</div>
						</div>
						<div class="mb_input mc_input">
							<i>职务：</i>
							<input type="text" ng-model="vm.user.Rank" value="律师" placeholder="您的职务">
							<div class="step5_validate">
								<span ng-class="vm.calLength(vm.user.Rank)>24?'red':''">
								{{vm.calLength(vm.user.Rank)}}</span><i> / 24</i>
								<b ng-show="vm.calLength(vm.user.Rank)>24">字数超过限制</b>
							</div>
						</div>
						<div class="mb_input mc_input input_file_fix">
							<i>二维码：</i>
							<div class="changeBg" ng-click="vm.gotoUpload()">
								更换二维码
								<input type="file" id="step5_upload" ng-model="vm.fileName"/>
							</div>
							<!-- <input id="step5_upload" type="file"/> -->
						</div>
						<!-- <span class="card_upload" ng-click="vm.uploadQrcode()" style="margin-left:105px">
								<img src="image/docs/add.png" width="20" height="20"/> 上传
						</span> -->
						<div class="step5_preview" id="QRCodeImg">
							<img src={{vm.transferUrl+vm.user.QRCodeImg}} width="100" height="100">
						</div>
						<div class="mb_input">
							<div class="mb_input_tip">系统默认为您的工作室二维码，长按识别可跳转您的工作室。<br/>您可以重新上传个人微信或组织机构公众号、工作室的二维码。</div>
						</div>
						<div class="mb_input mc_input">
							<i>电话：</i>
							<input type="text" ng-model="vm.user.Mobile" value="86-10-12345678" placeholder="您的电话">
						</div>
						<div class="mb_input mc_input" >
							<i>邮箱：</i>
							<input type="text" ng-model="vm.user.Email" value="site.askgreenstone.com" placeholder="您的邮箱">
						</div>
						<div class="mb_input mc_input">
							<i>座机：</i>
							<input type="text" ng-model="vm.user.TelNo" value="86-10-12345678" placeholder="您的座机">
						</div>
						<div class="mb_input mc_input">
							<i>网址：</i>
							<input type="text" ng-model="vm.user.WebSite" value="www.askgreenstone.com" placeholder="您的网址">
						</div>
						<div class="mb_input mc_input">
							<i>城市：</i>
							<input type="text" ng-model="vm.user.Region" value="北京" placeholder="例如：北京市">
						</div>
						<div class="mb_input mc_input">
							<i>地址：</i>
							<input type="text" ng-model="vm.user.Address" value="朝阳区三元桥时间国际4号楼" placeholder="您的地址">
							<div class="step5_validate">
								<span ng-class="vm.calLength(vm.user.Address)>120?'red':''">
								{{vm.calLength(vm.user.Address)}}</span><i> / 120</i>
								<b ng-show="vm.calLength(vm.user.Address)>120">字数超过限制</b>
							</div>
							<div class="mb_input_tip">（请正确填写区域和地址，用于地图导航）</div>
						</div>
						<div class="mb_input mc_input">
							<i class="area">简介：</i>
							<textarea ng-model="vm.user.Abstract" placeholder="您的简介">律师执业多年以来，长期担任企业法律常年法律顾问，服务客户包含XX等五百强企业。</textarea>
							
						</div>
						<div class="mb_input mc_input">
							<i class="area">专业领域：</i>
							<textarea ng-model="vm.user.Introduction" placeholder="您的领域">投融资及资本市场、公司法、知识产权</textarea>
							
						</div>
					</form>
					</div>
					<div class="clean"></div>
				</div>
			<div class="af_btn fix_center">
				<span ng-click="vm.setBasicInfo()">完成</span>
			</div>
		</div>
		<div class="clean"></div>
	</div>
</div>