<div class="view">
	<div class="view_title">
		工作室管理
		<select ng-class="vm.orgOrPer" ng-model="vm.abc" ng-options="x as x.tn for x in vm.contentList" ng-change="vm.switchPerOrg(vm.abc.ida)" >
			<option ng-selected="vm.selectedState" value="">--请选择--</option>
		</select>
		<span class="perLawyer">
			<img src= {{vm.headImg}} width="20" height="20">
			{{vm.lawyerName}} 律师
		</span>
	</div>
	<div class="manage_content">
		<div class="mc_left">
			<ul class="mcl_list">
				<!-- <li>
					<img src="image/manage/fans.png" width="18" height="18"/>
					<span><a href="#manage">粉丝数据</a></span>
				</li>
				<li>
					<img src="image/manage/wx.png" width="18" height="18"/>
					<span><a href="#manage">公众号运营</a></span>
				</li> -->
				<li ng-click="vm.menuLink('micro')">
					<img src="image/manage/micro.png" width="18" height="18"/>
					<span><a href="javascript:void(0)">工作室首页设置</a></span>
				</li>
				<li ng-click="vm.menuLink('card3')">
					<img src="image/manage/card.png" width="18" height="18"/>
					<span><a href="javascript:void(0)">微名片信息</a></span>
				</li>
				<li ng-click="vm.menuLink('wx')">
					<img src="image/manage/wx.png" width="18" height="18"/>
					<span><a href="javascript:void(0)">公众号设置</a></span>
				</li>
				<li ng-click="vm.menuLink('data')">
					<img src="image/manage/data.png" width="18" height="18"/>
					<span><a href="javascript:void(0)">用户数据</a></span>
				</li>
				<li class="text-active" ng-click="vm.menuLink('manage')">
					<img src="image/manage/set.png"  width="18" height="18"/>
					<span><a href="javascript:void(0)">内容维护</a></span>
				</li>
				<li ng-click="vm.menuLink('filelist')" ng-if="vm.isDeptAdmin">
					<img src="image/manage/article.png"  width="18" height="18"/>
					<span><a href="javascript:void(0)">微课堂</a></span>
				</li>
			</ul>
		</div>
		<div class="mc_right">
			<div class="list_lenged">
				<h3 class="red">编辑 &gt; {{vm.title}}</h3>
				<span ng-click="vm.gotoLink('manage','')"><img src="image/return.png" width="20" height="20"/> 返回</span>
			</div>
			<div class="af_input" style="margin-top: -30px;">
				<span class="ai_checkbox">引用链接：<i ng-click="vm.checkUserChoose()" class="">√</i><em>您可以复制粘贴相关网址，让读者点击后直接跳转相关网页浏览</em></span>
				<input ng-show="!vm.showUeditorFlag" ng-model="vm.createInfo.url" type="text" placeholder="请输入链接地址"/>

			</div>
			<p>&nbsp;</p>
			<div ng-show="vm.showUeditorFlag" style="height: 430px;">
				<div class="editor_intro">
					<div class="editor_theme">
						<div class="title">样式模版</div>
						<div id="um_editor_box">
						<!-- html代码工具压缩工具：http://tool.oschina.net/jscompress?type=2
						json格式化工具：http://www.bejson.com -->
							<div  class="box"></div>
						</div>
					</div>
					<div class="editor_textarea">
						<script id="editor" type="text/plain" style="width:100%;"></script>
					</div>
				</div>

			</div>
			<div class="clean"></div>
			<div class="af_btn">
				<span ng-click="vm.submitContent()">发布</span>
			</div>
		</div>
		<div class="clean"></div>
	</div>
</div>
