<div class="view">
	<div class="view_title">微网站管理</div>
	<div class="manage_content">
		<div class="mc_left">
			<ul class="mcl_list">
				<li>
					<img src="image/manage/fans.png" width="18" height="18"/>
					<span><a href="#manage">粉丝数据</a></span>
				</li>
				<li>
					<img src="image/manage/wx.png" width="18" height="18"/>
					<span><a href="#manage">公众号运营</a></span>
				</li>
				<li>
					<img src="image/manage/data.png" width="18" height="18"/>
					<span><a href="#manage">访问数据</a></span>
				</li>
				<li class="text-active">
					<img src="image/manage/set.png" width="18" height="18"/>
					<span><a href="#manage">内容维护</a></span>
				</li>
			</ul>
		</div>
		<div class="mc_right">
			<div class="mcr_search">
				<span>湖北欣安律师事务所</span>
				<input type="text" placeholder="请输入关键字"/>
				<i><img src="image/manage/search.png" width="18" height="18"/></i>
			</div>
			<div class="list_lenged">
				<h3 class="red">编辑 &gt; {{vm.title}}</h3>
				<span ng-click="vm.gotoLink('manage','')"><img src="image/return.png" width="20" height="20"/> 返回</span>
			</div>
			<div class="editor_intro">
				<!-- <iframe  src="lib/ueditor/index.html" frameborder="no" border="0" width="100%" height="100%"></iframe> -->
				<script id="editor" type="text/plain" style="width:100%;height:300px;"></script>
			</div>
			<div class="af_btn">
				<span ng-click="vm.submitContent()">发布</span>
			</div>
		</div>
		<div class="clean"></div>
	</div>
</div>
