<div class="view">
	<div class="view_title">
		工作室管理
		<select ng-class="vm.orgOrPer" ng-model="vm.abc" ng-options="x as x.tn for x in vm.contentList" ng-change="vm.switchPerOrg(vm.abc.ida)" >
			<option ng-selected="vm.selectedState" value="">--请选择--</option>
		</select>
		<span class="perLawyer">
			<img src= {{vm.headImg}} width="20" height="20">
			{{vm.lawyerName}} 律师
		</span>
	</div>
	<div class="manage_content">
		<div class="mc_left">
			<ul class="mcl_list">
				<!-- <li>
					<img src="image/manage/fans.png" width="18" height="18"/>
					<span><a href="#manage">粉丝数据</a></span>
				</li>
				<li>
					<img src="image/manage/wx.png" width="18" height="18"/>
					<span><a href="#manage">公众号运营</a></span>
				</li> -->
				<li ng-click="vm.menuLink('micro')">
					<img src="image/manage/micro.png" width="18" height="18"/>
					<span><a href="javascript:void(0)">工作室首页设置</a></span>
				</li>
				<li ng-click="vm.menuLink('card3')">
					<img src="image/manage/card.png" width="18" height="18"/>
					<span><a href="javascript:void(0)">微名片信息</a></span>
				</li>
				<li ng-click="vm.menuLink('wx')">
					<img src="image/manage/wx.png" width="18" height="18"/>
					<span><a href="javascript:void(0)">公众号设置</a></span>
				</li>
				<li ng-click="vm.menuLink('data')">
					<img src="image/manage/data.png" width="18" height="18"/>
					<span><a href="javascript:void(0)">用户数据</a></span>
				</li>
				<li class="text-active" ng-click="vm.menuLink('manage')">
					<img src="image/manage/set.png"  width="18" height="18"/>
					<span><a href="javascript:void(0)">内容维护</a></span>
				</li>
			</ul>
		</div>
		<div class="mc_right">
			<div class="usrTitle">机构文件列表</div>
	    <div class="contentBox">
	      <ul class="contentClass">
	      	<li ng-repeat="(key,value) in vm.titleList" ng-click="vm.queryDeptDocs(value.tid,value.tn)" ng-class="key==0?'active':''">
						{{value.tn}}
					</li>
	      </ul>
	      <ul class="contentList">
	        <li id="x.tid" ng-repeat="x in vm.artitleList">
	        	<p>{{x.tn?(x.tn.length>15?x.tn.substr(0,15)+'...':x.tn):'文件名'}}</p>
	        	<span ng-click="vm.deleteArticle(x.tid)">删除</span>
	        </li>
	      </ul>
	    </div>
	    <div class="addFile">
	      <img src="image/addFile.png" ng-click="vm.gotoAddFile()" width="100" height="100">
	    </div>
		</div>
		<div class="clean"></div>
	</div>
</div>
