<div class="view">
	<div class="view_title">微网站管理</div>
	<div class="manage_content">
		<div class="mc_left">
			<ul class="mcl_list">
				<!-- <li>
					<img src="image/manage/fans.png" width="18" height="18"/>
					<span><a href="#manage">粉丝数据</a></span>
				</li>
				<li>
					<img src="image/manage/wx.png" width="18" height="18"/>
					<span><a href="#manage">公众号运营</a></span>
				</li> -->
				<li ng-click="vm.menuLink('data')">
					<img src="image/manage/data.png" width="18" height="18"/>
					<span><a href="javascript:void(0)">用户数据</a></span>
				</li>
				<li class="text-active" ng-click="vm.menuLink('manage')">
					<img src="image/manage/set.png"  width="18" height="18"/>
					<span><a href="javascript:void(0)">内容维护</a></span>
				</li>
			</ul>
		</div>
		<div class="mc_right">
			<div class="mcr_search">
				<span>王杰律师团队</span>
				<input type="text" ng-model="vm.keyword" placeholder="请输入关键字"/>
				<i><img src="image/manage/search.png" width="18" height="18"/></i>
			</div>
			<div class="list_lenged">
				<h3 class="red">{{vm.title}}</h3>
				<!-- <span ng-click="vm.gotoLink()"><img src="image/docs/add.png" width="20" height="20"/>添加文章</span> -->
				<span>
					<a href="javascript:void(0);" ng-click="vm.gotoLink('add')">
						<img src="image/docs/add.png" width="20" height="20"/> 添加文章
					</a>
					<a href="javascript:void(0);" ng-click="vm.goBack()">
						<img src="image/return.png" width="20" height="20"/> 返回
					</a>
				</span>
				<table class="list_table">
					<tr>
						<th width="30%">文章标题</th>
						<th width="10%">状态</th>
						<th width="25%">创建时间</th>
						<th width="10%">创建人</th>
						<th width="25%">操作</th>
					</tr>
					<tr ng-repeat="x in vm.articleList|filter:{'ntit':vm.keyword}">
						<td>{{x.ntit.length>12?((x.ntit).substring(0,12)+'...'):x.ntit}}</td>
						<td ng-class="x.ns==1?'publish':'stop'">{{x.ns==1?'发布':'暂存'}}</td>
						<td>{{x.nct|date:"yyyy-MM-dd HH:mm:ss"}}</td>
						<td>{{x.ncu}}</td>
						<td>
							<img ng-click="vm.updateArticle(x.nId)" src="image/manage/edit.png" width="20" height="20">
							<img ng-click="vm.deleteArticle(x.nId)" src="image/manage/delete.png" width="20" height="20">
							<img ng-click="vm.publishArticle(x.nId)" ng-if="x.ns=='0'" src="image/manage/publish.png" width="20" height="20">
						</td>
					</tr>
				</table>
			</div>
		</div>
		<div class="clean"></div>
	</div>
</div>
