<div class="view">
	<div class="view_title">微网站管理</div>
	<div class="manage_content">
		<div class="mc_left">
			<ul class="mcl_list">
				<li ng-click="vm.menuLink('micro')">
					<img src="image/manage/micro.png" width="18" height="18"/>
					<span><a href="javascript:void(0)">微网站首页设置</a></span>
				</li>
				<li ng-click="vm.menuLink('card')">
					<img src="image/manage/card.png" width="18" height="18"/>
					<span><a href="javascript:void(0)">微名片信息</a></span>
				</li>
				<li ng-click="vm.menuLink('wx')">
					<img src="image/manage/wx.png" width="18" height="18"/>
					<span><a href="javascript:void(0)">公众号设置</a></span>
				</li>
				<li ng-click="vm.menuLink('data')">
					<img src="image/manage/data.png" width="18" height="18"/>
					<span><a href="javascript:void(0)">用户数据</a></span>
				</li>
				<li class="text-active" ng-click="vm.menuLink('manage')">
					<img src="image/manage/set.png"  width="18" height="18"/>
					<span><a href="javascript:void(0)">内容维护</a></span>
				</li>
			</ul>
		</div>
		<div class="mc_right">
			<div class="mcr_search">
				<span>{{vm.microName}}</span>
				<input type="text" ng-model="vm.keyword" placeholder="请输入关键字"/>
				<i><img src="image/manage/search.png" width="30" height="30"/></i>
			</div>
			<div class="mcr_lenged">
				<h3 class="red">{{vm.title1}}</h3>
				<ul class="mcr_list">
					<li ng-click="vm.gotoLink('editor',x.tn,x.ntId)" ng-repeat="x in vm.introduce|filter:vm.keyword">
						<img ng-src={{vm.transferUrl+x.lg}} width="30" height="30"/>
						<span>{{x.tn}}</span>
						<i>编辑</i>
					</li>
				</ul>
			</div>
			<div class="mcr_lenged">
				<h3 class="orange">{{vm.title2}}</h3>
				<ul class="mcr_list">
					<li ng-click="vm.gotoLink('list',x.tn,x.ntId)" ng-repeat="x in vm.content|filter:vm.keyword">
						<img ng-src={{vm.transferUrl+x.lg}} width="30" height="30"/>
						<span>{{x.tn}}</span>
						<i>进入</i>
					</li>
				</ul>
			</div>
			<div class="mcr_lenged">
				<h3 class="green">{{vm.title3}}</h3>
				<ul class="mcr_list">
					<li ng-click="vm.gotoLink('photo',x.tn,x.ntId)" ng-repeat="x in vm.photos|filter:vm.keyword">
						<img ng-src={{vm.transferUrl+x.lg}} width="30" height="30"/>
						<span>{{x.tn}}</span>
						<i>进入</i>
					</li>
				</ul>
			</div>
		</div>
		<div class="clean"></div>
	</div>
</div>
