<div class="view">
	<div class="view_title">微网站管理</div>
	<div class="manage_content">
		<div class="mc_left">
			<ul class="mcl_list">
				<li>
					<img src="image/manage/fans.png" width="18" height="18"/>
					<span><a href="#manage">粉丝数据</a></span>
				</li>
				<li>
					<img src="image/manage/wx.png" width="18" height="18"/>
					<span><a href="#manage">公众号运营</a></span>
				</li>
				<li>
					<img src="image/manage/data.png" width="18" height="18"/>
					<span><a href="#manage">访问数据</a></span>
				</li>
				<li class="text-active">
					<img src="image/manage/set.png" width="18" height="18"/>
					<span><a href="#manage">内容维护</a></span>
				</li>
			</ul>
		</div>
		<div class="mc_right">
			<div class="mcr_search">
				<span>湖北欣安律师事务所</span>
				<input type="text" ng-model="vm.keyword" placeholder="请输入关键字"/>
				<i><img src="image/manage/search.png" width="18" height="18"/></i>
			</div>
			<div class="mcr_lenged">
				<h3 class="red">网站介绍页</h3>
				<ul class="mcr_list">
					<li ng-click="vm.gotoLink('editor',x.tn,x.ntId)" ng-repeat="x in vm.introduce|filter:vm.keyword">
						<img ng-src={{'http://t-transfer.green-stone.cn/'+x.lg}} width="18" height="18"/>
						<span>{{x.tn}}</span>
						<i>编辑</i>
					</li>
				</ul>
			</div>
			<div class="mcr_lenged">
				<h3 class="orange">网站内容库</h3>
				<ul class="mcr_list">
					<li ng-click="vm.gotoLink('list',x.tn,x.ntId)" ng-repeat="x in vm.content|filter:vm.keyword">
						<img ng-src={{'http://t-transfer.green-stone.cn/'+x.lg}} width="18" height="18"/>
						<span>{{x.tn}}</span>
						<i>进入</i>
					</li>
				</ul>
			</div>
			<div class="mcr_lenged">
				<h3 class="green">微相册</h3>
				<ul class="mcr_list">
					<li ng-click="vm.gotoLink('photo',x.tn,x.ntId)" ng-repeat="x in vm.photos|filter:vm.keyword">
						<img ng-src={{'http://t-transfer.green-stone.cn/'+x.lg}} width="18" height="18"/>
						<span>{{x.tn}}</span>
						<i>进入</i>
					</li>
				</ul>
			</div>
		</div>
		<div class="clean"></div>
	</div>
</div>
