<div class="view">
	<div class="view_title">
		工作室管理
		<select ng-class="vm.orgOrPer" ng-model="vm.abc" ng-options="x as x.tn for x in vm.contentList" ng-change="vm.switchPerOrg(vm.abc.ida)" >
			<option ng-selected="vm.selectedState" value="">--请选择--</option>
		</select>
		<span class="perLawyer">
			<img src= {{vm.headImg}} width="20" height="20">
			{{vm.lawyerName}} 律师
		</span>
	</div>
	<div class="manage_content">
		<div class="mc_left">
			<ul class="mcl_list">
				<li ng-click="vm.menuLink('micro')">
					<img src="image/manage/micro.png" width="18" height="18"/>
					<span><a href="javascript:void(0)">工作室首页设置</a></span>
				</li>
				<li ng-click="vm.menuLink('card3')">
					<img src="image/manage/card.png" width="18" height="18"/>
					<span><a href="javascript:void(0)">微名片信息</a></span>
				</li>
				<li ng-click="vm.menuLink('wx')">
					<img src="image/manage/wx.png" width="18" height="18"/>
					<span><a href="javascript:void(0)">公众号设置</a></span>
				</li>
				<li ng-click="vm.menuLink('data')">
					<img src="image/manage/data.png" width="18" height="18"/>
					<span><a href="javascript:void(0)">用户数据</a></span>
				</li>
				<li class="text-active" ng-click="vm.menuLink('manage')">
					<img src="image/manage/set.png"  width="18" height="18"/>
					<span><a href="javascript:void(0)">内容维护</a></span>
				</li>
				<li ng-click="vm.menuLink('filelist',1)" ng-if="vm.isDeptAdmin">
					<img src="image/manage/class.png"  width="20" height="20"/>
					<span><a href="javascript:void(0)">微课堂</a></span>
				</li>
				<li ng-click="vm.menuLink('filelist',2)" ng-if="vm.isDeptAdmin">
					<img src="image/manage/file.png"  width="20" height="20"/>
					<span><a href="javascript:void(0)">文件</a></span>
				</li>
				<li ng-click="vm.menuLink('filelist',3)" ng-if="vm.isDeptAdmin">
					<img src="image/manage/notice.png"  width="20" height="20"/>
					<span><a href="javascript:void(0)">通知</a></span>
				</li>
				<li ng-click="vm.menuLink('videolist')" ng-if="vm.isHenanAdmin">
					<img src="image/manage/class.png"  width="20" height="20"/>
					<span><a href="javascript:void(0)">上传视频</a></span>
				</li>
			</ul>
		</div>
		<div class="mc_right">
			<div class="mcr_search">
				<span>{{vm.microName}}</span>
				<input type="text" ng-model="vm.keyword" placeholder="请输入关键字"/>
				<i><img src="image/manage/search.png" width="20" height="20"/></i>
			</div>
			<div class="manage_tips">
				编辑内容一经发布即实时反映在工作室中，建议编辑时在手机工作室同时查看效果
			</div>
			<div class="mcr_lenged">
				<h3 class="red">{{vm.title1}}</h3>
				<ul class="mcr_list">
					<li ng-click="vm.gotoLink('editor',x.tn,x.ntId)" ng-repeat="x in vm.introduce|filter:vm.keyword">
						<img ng-src={{vm.transferUrl+x.lg}} width="30" height="30"/>
						<span>{{x.tn}}</span>
						<i>编辑</i>
					</li>
					<!-- <li ng-click="vm.gotoLink('editor',x.tn,x.ntId)" ng-repeat="x in vm.oldIntroduce|filter:vm.keyword">
						<img ng-src={{vm.transferUrl+x.lg}} width="30" height="30"/>
						<span>{{x.ntit}}</span>
						<i>编辑</i>
					</li> -->
				</ul>
			</div>
			<!-- 内容库 -->
			<div class="mcr_lenged">
				<h3 class="orange">{{vm.title2}}</h3>
				<ul class="mcr_list">
					<li ng-repeat="x in vm.content|filter:vm.keyword">
						<img ng-src={{vm.transferUrl+x.lg}} width="30" height="30"/>
						<span>{{x.tn}}</span>
						<i ng-click="vm.gotoLink('list',x.tn,x.ntId)">进入</i>
						<i style="color:#CB0C14" ng-if="x.vt==2" class="authority" ng-click="vm.visityAuthority($event,'private')">
							<b ng-click="vm.test($event)">
								<small></small>
								<label>
									<input ng-click="vm.setAuthorState($event,'optionsRadios1'+x.ntId)" type="radio" name={{'optionsRadios1'+x.ntId}}  value="public">公开访问
								</label>
								<label>
									<input ng-click="vm.setAuthorState($event,'optionsRadios1'+x.ntId)" type="radio" name={{'optionsRadios1'+x.ntId}}  value="private" ng-checked="true">加密访问
								</label>
								<input ng-if="!vm.radioFlag"  class="author_psw" type="text" placeholder="设置五位字符或数字密码" ng-keyUp="vm.getInputValue($event)" ng-value="x.vp"/>
								<div class="author fix_center">
									<span ng-click="vm.submitAuthor(x.ntId,x.vp)">确 定</span>
									<span ng-click="vm.cleanAuthorBox()">取 消</span>
								</div>
							</b>
							加密访问
						</i>
						<i style="color:#5DC801" ng-if="x.vt==1" class="authority" ng-click="vm.visityAuthority($event,'public')">
							<b ng-click="vm.test($event)">
								<small></small>
								<label>
									<input ng-click="vm.setAuthorState($event,'optionsRadios2'+x.ntId)" type="radio" name={{'optionsRadios2'+x.ntId}}  value="public" ng-checked="true">公开访问
								</label>
								<label>
									<input ng-click="vm.setAuthorState($event,'optionsRadios2'+x.ntId)" type="radio" name={{'optionsRadios2'+x.ntId}}  value="private" >加密访问
								</label>
								<input ng-if="!vm.radioFlag" class="author_psw" type="text" placeholder="设置五位字符或数字密码" ng-keyUp="vm.getInputValue($event)" ng-value="x.vp"/>
								<div class="author fix_center">
									<span ng-click="vm.submitAuthor(x.ntId,x.vp)">确 定</span>
									<span ng-click="vm.cleanAuthorBox()">取 消</span>
								</div>
								<div class="fix_center_tip">
									您可以将工作室内容加密，读者输入密码方可打开查看
								</div>
							</b>
							公开访问
						</i>
					</li>
					<li ng-click="vm.gotoLink('list','素材库',0)" ng-show="vm.changeTheme">
						<img ng-src="image/docs/other.png" width="30" height="30"/>
						<span>素材库</span>
						<i>进入</i>
					</li>
				</ul>
			</div>
			<!-- 相册 -->
			<div class="mcr_lenged">
				<h3 class="green">{{vm.title3}}</h3>
				<ul class="mcr_list">
					<li ng-repeat="x in vm.photos|filter:vm.keyword">
						<img ng-src={{vm.transferUrl+x.lg}} width="30" height="30"/>
						<span>{{x.tn}}</span>
						<i ng-click="vm.gotoLink('photo',x.tn,x.ntId)">进入</i>
						<i style="color:#CB0C14" ng-if="x.vt==2" class="authority" ng-click="vm.visityAuthority($event,'private')">
							<b ng-click="vm.test($event)">
								<small></small>
								<label>
									<input ng-click="vm.setAuthorState($event,'optionsRadios1'+x.ntId)" type="radio" name={{'optionsRadios1'+x.ntId}}  value="public">公开访问
								</label>
								<label>
									<input ng-click="vm.setAuthorState($event,'optionsRadios1'+x.ntId)" type="radio" name={{'optionsRadios1'+x.ntId}}  value="private" ng-checked="true">加密访问
								</label>
								<input ng-if="!vm.radioFlag"  class="author_psw" type="text" placeholder="设置五位字符或数字密码" ng-keyUp="vm.getInputValue($event)" ng-value="x.vp"/>
								<div class="author fix_center">
									<span ng-click="vm.submitAuthor(x.ntId,x.vp)">确 定</span>
									<span ng-click="vm.cleanAuthorBox()">取 消</span>
								</div>
							</b>
							加密访问
						</i>
						<i style="color:#5DC801" ng-if="x.vt==1" class="authority" ng-click="vm.visityAuthority($event,'public')">
							<b ng-click="vm.test($event)">
								<small></small>
								<label>
									<input ng-click="vm.setAuthorState($event,'optionsRadios2'+x.ntId)" type="radio" name={{'optionsRadios2'+x.ntId}}  value="public" ng-checked="true">公开访问
								</label>
								<label>
									<input ng-click="vm.setAuthorState($event,'optionsRadios2'+x.ntId)" type="radio" name={{'optionsRadios2'+x.ntId}}  value="private" >加密访问
								</label>
								<input ng-if="!vm.radioFlag" class="author_psw" type="text" placeholder="设置五位字符或数字密码" ng-keyUp="vm.getInputValue($event)" ng-value="x.vp"/>
								<div class="author fix_center">
									<span ng-click="vm.submitAuthor(x.ntId,x.vp)">确 定</span>
									<span ng-click="vm.cleanAuthorBox()">取 消</span>
								</div>
							</b>
							公开访问
						</i>
					</li>
				</ul>
			</div>
		</div>
		<div class="clean"></div>
	</div>
</div>
