<div class="view">
	<div class="view_title">
		工作室管理
		<select ng-class="vm.orgOrPer" ng-model="vm.abc" ng-options="x as x.tn for x in vm.contentList" ng-change="vm.switchPerOrg(vm.abc.ida)" >
			<option ng-selected="vm.selectedState" value="">--请选择--</option>
		</select>
		<span class="perLawyer">
			<img src= {{vm.headImg}} width="20" height="20">
			{{vm.lawyerName}} 律师
		</span>
	</div>
	<div class="manage_content">
		<div class="mc_left">
			<ul class="mcl_list">
				<!-- <li>
					<img src="image/manage/fans.png" width="18" height="18"/>
					<span><a href="#manage">粉丝数据</a></span>
				</li> -->
				<li class="text-active" ng-click="vm.menuLink('micro')">
					<img src="image/manage/micro.png" width="18" height="18"/>
					<span><a href="javascript:void(0)">工作室首页设置</a></span>
				</li>
				<li ng-click="vm.menuLink('card3')">
					<img src="image/manage/card.png" width="18" height="18"/>
					<span><a href="javascript:void(0)">微名片信息</a></span>
				</li>
				<li ng-click="vm.menuLink('wx')">
					<img src="image/manage/wx.png" width="18" height="18"/>
					<span><a href="javascript:void(0)">公众号设置</a></span>
				</li>
				<li ng-click="vm.menuLink('data')">
					<img src="image/manage/data.png" width="18" height="18"/>
					<span><a href="javascript:void(0)">用户数据</a></span>
				</li>
				<li ng-click="vm.menuLink('manage')">
					<img src="image/manage/set.png"  width="18" height="18"/>
					<span><a href="javascript:void(0)">内容维护</a></span>
				</li>
				<li ng-click="vm.menuLink('filelist')" ng-if="vm.isDeptAdmin">
	                <img src="image/manage/article.png"  width="18" height="18"/>
	                <span><a href="javascript:void(0)">微课堂</a></span>
              	</li>
			</ul>
		</div>
		<div class="mc_right">
			<div class="list_lenged">
				<h3 class="red">工作室首页设置</h3>
			<!-- <span ng-click="vm.goBack()"><img src="image/return.png" width="20" height="20"/> 返回</span> -->
			</div>
			<div class="mr_box">
				<div class="micro_list_box">
					<div class="mb_left mb_left_list" style="height:620px;">
				    <ul>
				     <!-- <li><img src="image/manage/index001.png" width="320" height="100%"/></li> -->
				     <!-- <li><img src="image/manage/index002.png" width="320" height="100%"/></li>
				     <li><img src="image/manage/index003.png" width="320" height="100%"/></li>
				     <li><img src="image/manage/index004.png" width="320" height="100%"/></li>
				     <li><img src="image/manage/index005.png" width="320" height="100%"/></li>
				     <li><img src="image/manage/index006.png" width="320" height="100%"/></li> -->
						<li ng-repeat="x in vm.showList">
							<img ng-src={{vm.transferUrl+x.wmp}} width="320" height="100%"/>
						</li>
				    </ul>
				    <a href="javascript:void(0);" class="unslider-arrow04 prev"><img class="arrow" id="al" src="image/arrow1.png" alt="prev" width="20" height="35"></a>
	    			<a href="javascript:void(0);" class="unslider-arrow04 next"><img class="arrow" id="ar" src="image/arrow2.png" alt="next" width="20" height="37"></a>
					</div>
				</div>
				
				<div class="mb_right">
					<span ng-click="vm.menuLink('step1')">{{vm.editState}}</span>
					<!-- <span>重新定制</span>
					<div class="mb_input">
						<i>工作室地址</i>
						<input type="text"/>
					</div>
					<div class="mb_input">
						<i>二维码地址</i>
						<img src="" height="" width="">
					</div> -->
				</div>
			</div>
		</div>
		<div class="clean"></div>
	</div>
</div>
