<div class="view">
	<div class="view_title">微网站管理</div>
	<div class="manage_content">
		<div class="mc_left">
			<ul class="mcl_list">
				<li>
					<img src="image/manage/fans.png" width="18" height="18"/>
					<span><a href="#manage">粉丝数据</a></span>
				</li>
				<li>
					<img src="image/manage/wx.png" width="18" height="18"/>
					<span><a href="#manage">公众号运营</a></span>
				</li>
				<li>
					<img src="image/manage/data.png" width="18" height="18"/>
					<span><a href="#manage">访问数据</a></span>
				</li>
				<li class="text-active">
					<img src="image/manage/set.png" width="18" height="18"/>
					<span><a href="#manage">内容维护</a></span>
				</li>
			</ul>
		</div>
		<div class="mc_right">
			<div class="mcr_search">
				<span>湖北欣安律师事务所</span>
			</div>
			<div class="list_lenged">
				<h3 class="red">{{vm.title}}</h3>
				<span>
					<a href="javascript:void(0);" ng-click="vm.gotoLink('manage','')">
						<img src="image/docs/add.png" width="20" height="20"/> 创建相册
					</a>
					<a href="#manage">
						<img src="image/return.png" width="20" height="20"/> 返回
					</a>
				</span>
			</div>
			<ul class="photo_list">
				<li ng-click="vm.gotoLink('single','律所风采')">
					<img src="image/manage/p1.png" width="100%" height="150"/>
					<p>律所风采</p>
				</li>
				<li ng-click="vm.gotoLink('single','我的记忆')">
					<img src="image/manage/p1.png" width="100%" height="150"/>
					<p>我的记忆</p>
				</li>
				<li ng-click="vm.gotoLink('single','团队成员')">
					<img src="image/manage/p1.png" width="100%" height="150"/>
					<p>团队成员</p>
				</li>
				<li ng-click="vm.gotoLink('single','资深专家汇合')">
					<img src="image/manage/p1.png" width="100%" height="150"/>
					<p>资深专家汇合</p>
				</li>
				<li ng-click="vm.gotoLink('single','亲人')">
					<img src="image/manage/p1.png" width="100%" height="150"/>
					<p>亲人</p>
				</li>
				<div class="clean"></div>
			</ul>
		</div>
		<div class="clean"></div>
	</div>
</div>
