<div class="view">
	<div class="view_title">
		工作室管理
		<select ng-class="vm.orgOrPer" ng-model="vm.abc" ng-options="x as x.tn for x in vm.contentList" ng-change="vm.switchPerOrg(vm.abc.ida)" >
			<option ng-selected="vm.selectedState" value="">--请选择--</option>
		</select>
		<span class="perLawyer">
			<img src= {{vm.headImg}} width="20" height="20">
			{{vm.lawyerName}} 律师
		</span>
	</div>
	<div class="manage_content">
		<div class="mc_left">
			<ul class="mcl_list">
				<!-- <li>
					<img src="image/manage/fans.png" width="18" height="18"/>
					<span><a href="#manage">粉丝数据</a></span>
				</li>
				<li>
					<img src="image/manage/wx.png" width="18" height="18"/>
					<span><a href="#manage">公众号运营</a></span>
				</li> -->
				<li ng-click="vm.menuLink('micro')">
					<img src="image/manage/micro.png" width="18" height="18"/>
					<span><a href="javascript:void(0)">工作室首页设置</a></span>
				</li>
				<li ng-click="vm.menuLink('card3')">
					<img src="image/manage/card.png" width="18" height="18"/>
					<span><a href="javascript:void(0)">微名片信息</a></span>
				</li>
				<li ng-click="vm.menuLink('wx')">
					<img src="image/manage/wx.png" width="18" height="18"/>
					<span><a href="javascript:void(0)">公众号设置</a></span>
				</li>
				<li ng-click="vm.menuLink('data')">
					<img src="image/manage/data.png" width="18" height="18"/>
					<span><a href="javascript:void(0)">用户数据</a></span>
				</li>
				<li class="text-active" ng-click="vm.menuLink('manage')">
					<img src="image/manage/set.png"  width="18" height="18"/>
					<span><a href="javascript:void(0)">内容维护</a></span>
				</li>
				<li ng-click="vm.menuLink('filelist')" ng-if="vm.isDeptAdmin">
	                <img src="image/manage/article.png"  width="18" height="18"/>
	                <span><a href="javascript:void(0)">机构文件管理</a></span>
              	</li>
			</ul>
		</div>
		<div class="mc_right">
			<!-- <div class="mcr_search">
				<span>我的律师团队</span>
			</div> -->
			<div class="list_lenged">
				<h3 class="red">{{vm.title}}</h3>
				<span>
					<a href="javascript:void(0);" ng-click="vm.gotoUpload('preview','上传照片')">
						<img src="image/docs/add.png" width="20" height="20"/> 上传照片
					</a>
					<a href="javascript:void(0);" ng-click="vm.goBack()">
						<img src="image/return.png" width="20" height="20"/> 返回
					</a>
				</span>
			</div>
			<div class="step4_warn" style="margin: -30px 0 0 15px;">提示：拖动照片可调整照片排列顺序</div>
			<ul class="photo_list" style="margin-top: 0px;">
				<li id={{x.pId}} ng-click="vm.gotoLink('single',x.pd,x.pId,x.pn)" ng-repeat="x in vm.photos|orderBy:'sk':false">
					<img  ng-src={{vm.transferUrl+x.pn}} width="100%" height="150"/>
					<p>
					{{x.pd?(x.pd.length>10?x.pd.substring(0,10):x.pd):'暂无描述'}}
					</p>
				</li>
				<div class="clean"></div>
			</ul>
		</div>
		<div class="clean"></div>
	</div>
</div>
