<div class="view">
	<div class="view_title">微网站管理</div>
	<div class="manage_content">
		<div class="mc_left">
			<ul class="mcl_list">
				<!-- <li>
					<img src="image/manage/fans.png" width="18" height="18"/>
					<span><a href="#manage">粉丝数据</a></span>
				</li>
				<li>
					<img src="image/manage/wx.png" width="18" height="18"/>
					<span><a href="#manage">公众号运营</a></span>
				</li> -->
				<li ng-click="vm.menuLink('data')">
					<img src="image/manage/data.png" width="18" height="18"/>
					<span><a href="javascript:void(0)">用户数据</a></span>
				</li>
				<li class="text-active" ng-click="vm.menuLink('manage')">
					<img src="image/manage/set.png"  width="18" height="18"/>
					<span><a href="javascript:void(0)">内容维护</a></span>
				</li>
			</ul>
		</div>
		<div class="mc_right">
			<div class="mcr_search">
				<span>王杰律师团队</span>
			</div>
			<div class="list_lenged">
				<h3 class="red">团队风采 &gt; {{vm.title}}</h3>
				<span>
					<a  ng-click="vm.goBack()">
						<img src="image/return.png" width="20" height="20"/> 返回
					</a>
				</span>
			</div>
			<div class="single_box">
				<div class="sb_view">
					<i ng-click="vm.deleteOne(vm.pid)"></i>
					<!-- <span class="left"></span> -->
					<div>
						<img ng-src={{'http://t-transfer.green-stone.cn/'+vm.pth}} width="" height="450"/>
					</div>
					<!-- <span class="right"></span> -->
				</div>
				<p>{{vm.title}}
					<input type="text" ng-blur="vm.submitDesc()" ng-if="vm.updateFlag" ng-model="vm.pohtoDesc"/>
					<span ng-click="vm.updateDescribe()"></span>
				</p>
				<div class="sb_list">
					<span ng-click="vm.singleLeft()" class="left"></span>
					<div class="ul_box">
						<ul class="sbl_list">
							<li ng-click="vm.switchImg(x.pn)" ng-class="x.pn == vm.pth ? 'active':''" ng-repeat="x in vm.photos">
								<img ng-src={{'http://t-transfer.green-stone.cn/'+x.pn}} width="100%" height="80" />
							</li>
							<!-- <div class="clean"></div> -->
						</ul>
						<div class="clean"></div>
					</div>
					<span ng-click="vm.singleRight()" class="right"></span>
				</div>
			</div>
			<!-- <div class="clean"></div> -->
		</div>
		<div class="clean"></div>
	</div>
</div>
