<div class="view">
	<div class="view_title">
		工作室管理
		<select ng-class="vm.orgOrPer" ng-model="vm.abc" ng-options="x as x.tn for x in vm.contentList" ng-change="vm.switchPerOrg(vm.abc.ida)" >
			<option ng-selected="vm.selectedState" value="">--请选择--</option>
		</select>
		<span class="perLawyer">
			<img src= {{vm.headImg}} width="20" height="20">
			{{vm.lawyerName}} 律师
		</span>
	</div>
	<div class="manage_content">
		<div class="mc_left">
			<ul class="mcl_list">
				<!-- <li>
					<img src="image/manage/fans.png" width="18" height="18"/>
					<span><a href="#manage">粉丝数据</a></span>
				</li> -->
				<li class="text-active" ng-click="vm.menuLink('micro')">
					<img src="image/manage/micro.png" width="18" height="18"/>
					<span><a href="javascript:void(0)">工作室首页设置</a></span>
				</li>
				<li ng-click="vm.menuLink('card3')">
					<img src="image/manage/card.png" width="18" height="18"/>
					<span><a href="javascript:void(0)">微名片信息</a></span>
				</li>
				<li ng-click="vm.menuLink('wx')">
					<img src="image/manage/wx.png" width="18" height="18"/>
					<span><a href="javascript:void(0)">公众号设置</a></span>
				</li>
				<li ng-click="vm.menuLink('data')">
					<img src="image/manage/data.png" width="18" height="18"/>
					<span><a href="javascript:void(0)">用户数据</a></span>
				</li>
				<li ng-click="vm.menuLink('manage')">
					<img src="image/manage/set.png"  width="18" height="18"/>
					<span><a href="javascript:void(0)">内容维护</a></span>
				</li>
				<li ng-click="vm.menuLink('filelist',1)" ng-if="vm.isDeptAdmin">
					<img src="image/manage/class.png"  width="20" height="20"/>
					<span><a href="javascript:void(0)">微课堂</a></span>
				</li>
				<li ng-click="vm.menuLink('filelist',2)" ng-if="vm.isDeptAdmin">
					<img src="image/manage/file.png"  width="20" height="20"/>
					<span><a href="javascript:void(0)">文件</a></span>
				</li>
				<li ng-click="vm.menuLink('filelist',3)" ng-if="vm.isDeptAdmin">
					<img src="image/manage/notice.png"  width="20" height="20"/>
					<span><a href="javascript:void(0)">通知</a></span>
				</li>
			</ul>
		</div>
		<div class="mc_right">
			<div class="list_lenged">
				<h3 class="red">工作室logo设置</h3>
			<span>
				<!-- <a href="javascript:void(0);" ng-click="vm.gotoUpload('preview','上传照片')">
					<img src="image/docs/add.png" width="20" height="20"/> 选择照片
					<input type="file" id="choose_file" ng-model="vm.fileName"/>
				</a> -->
				<a href="javascript:void(0);" ng-click="vm.goBack()">
					<img src="image/return.png" width="20" height="20"/> 返回
				</a>
			</span>
			</div>
			<div class="mr_box">
				<ul class="step_nav">
					<li  class="line"><i></i>选择模版<b></b></li>
					<li  class="line"><i></i>选择主题背景<b></b></li>
					<li  class="color"><i></i>logo设置<b></b></li>
					<li  class="line"><i></i>菜单设置<b></b></li>
					<li  class="line"><i></i>分享设置<b></b></li>
				</ul>
			</div>
			<div class="changeBg changeLogo" ng-click="vm.gotoUpload()">
				{{vm.selectChange}}
				<input type="file" id="choose_file" ng-model="vm.userLogo"/>
			</div>
			<div class="clearLogo" ng-show="vm.logoState" ng-click="vm.clearLogo()">
				清除logo
			</div>
			<div class="step2_box step3_box">
				<!-- <div class="step3_left">
					<div class="step3_imgBox">
						<img src={{vm.userLogo}} id="userLogo" width="130">
					</div>
					
					<img ng-show="vm.hiddenInitImg" id="step3Cropper" src={{vm.userBg}}>
				</div> -->
				<!-- <div class="step3_right"> -->
					<!-- <div class="step2_center"> -->
						<div class="mb_shadow"></div>
						<div id="iframe_src"></div>
					<!-- </div> -->
					<!-- <span>logo素材</span>
					<ul class="step2_bgs">
						<li ng-repeat="x in vm.sourceImage" ng-click="vm.chooseSourceBg(x.in)">
							<img ng-src={{vm.transferUrl+x.in}} width="100%" height="">
						</li>
					</ul> -->
					<!-- <span id="test">logo预览(宽：0，高：0)</span>
					<div class="step2_preview" id="img_preview"></div> -->
				<!-- </div> -->
			</div>
			<div class="af_btn fix_center">
				<span ng-if="vm.originFlag" ng-click="vm.menuLink('step2')">上一步</span>
				<span ng-if="vm.originFlag" ng-show="vm.goToNext" ng-click="vm.menuLink('step4')">跳过</span>
				<span ng-if="vm.originFlag" ng-click="vm.menuLink('step4')">保存并下一步</span>
				<span ng-if="!vm.originFlag" ng-click="vm.menuLink('micro1')">完成</span>
			</div>
		</div>
		<div class="clean"></div>
	</div>
</div>
