<div class="view">
	<div class="view_title">微网站管理</div>
	<div class="manage_content">
		<div class="mc_left">
			<ul class="mcl_list">
				<!-- <li>
					<img src="image/manage/fans.png" width="18" height="18"/>
					<span><a href="#manage">粉丝数据</a></span>
				</li> -->
				<li class="text-active" ng-click="vm.menuLink('micro')">
					<img src="image/manage/micro.png" width="18" height="18"/>
					<span><a href="javascript:void(0)">微网站首页设置</a></span>
				</li>
				<li ng-click="vm.menuLink('card')">
					<img src="image/manage/card.png" width="18" height="18"/>
					<span><a href="javascript:void(0)">微名片信息</a></span>
				</li>
				<li ng-click="vm.menuLink('data')">
					<img src="image/manage/data.png" width="18" height="18"/>
					<span><a href="javascript:void(0)">用户数据</a></span>
				</li>
				<li ng-click="vm.menuLink('manage')">
					<img src="image/manage/set.png"  width="18" height="18"/>
					<span><a href="javascript:void(0)">内容维护</a></span>
				</li>
			</ul>
		</div>
		<div class="mc_right">
			<div class="list_lenged">
				<h3 class="red">微网站首页设置</h3>
			<span ng-click="vm.goBack()"><img src="image/return.png" width="20" height="20"/> 返回</span>
			</div>
			<div class="mr_box">
				<ul class="step_nav">
					<li class="color"><i></i>选择模版<b></b></li>
					<li class="line"><i></i>选择主题背景<b></b></li>
					<li class="line"><i></i>logo设置<b></b></li>
					<li class="line"><i></i>菜单设置<b></b></li>
					<li class="line"><i></i>分享设置<b></b></li>
				</ul>
			</div>
			<ul class="step1_theme">
				<!-- <li class="active">
					<b></b>
					<img src="image/manage/index001.png" width="100%" height=""/>
					<i>主题背景＋logo＋5菜单</i>
				</li> -->
				<li ng-class="x.wmi == vm.CurrentTheme?'active':''" ng-repeat="x in vm.showList" ng-click="vm.setPageInfo(x.wmi,x.tu,x.ar)">
					<b></b>
					<img ng-src={{vm.transferUrl+x.wmp}} width="100%" height=""/>
					<i>{{x.wmd}}</i>
				</li>
			</ul>
			<div class="af_btn fix_center">
				<span ng-click="vm.saveMicroImg()">下一步</span>
			</div>
		</div>
		<div class="clean"></div>
	</div>
</div>
