<div class="view">
	<div class="view_title">微网站管理</div>
	<div class="manage_content">
		<div class="mc_left">
			<ul class="mcl_list">
				<!-- <li>
					<img src="image/manage/fans.png" width="18" height="18"/>
					<span><a href="#manage">粉丝数据</a></span>
				</li> -->
				<li class="text-active" ng-click="vm.menuLink('micro')">
					<img src="image/manage/micro.png" width="18" height="18"/>
					<span><a href="javascript:void(0)">微网站首页设置</a></span>
				</li>
				<li ng-click="vm.menuLink('card')">
					<img src="image/manage/card.png" width="18" height="18"/>
					<span><a href="javascript:void(0)">微名片信息</a></span>
				</li>
				<li ng-click="vm.menuLink('data')">
					<img src="image/manage/data.png" width="18" height="18"/>
					<span><a href="javascript:void(0)">用户数据</a></span>
				</li>
				<li ng-click="vm.menuLink('manage')">
					<img src="image/manage/set.png"  width="18" height="18"/>
					<span><a href="javascript:void(0)">内容维护</a></span>
				</li>
			</ul>
		</div>
		<div class="mc_right">
			<div class="list_lenged">
				<h3 class="red">微网站菜单设置</h3>
				<span>
					<a href="javascript:void(0);" ng-click="vm.showShadow()">
						<img src="image/docs/add.png" width="20" height="20"/> 添加菜单
					</a>
					<a href="javascript:void(0);" ng-click="vm.goBack()">
						<img src="image/return.png" width="20" height="20"/> 返回
					</a>
				</span>
			</div>
			<div class="mr_box">
				<ul class="step_nav">
					<li ng-click="vm.menuLink('step1')" class="line"><i></i>选择模版<b></b></li>
					<li ng-click="vm.menuLink('step2')" class="line"><i></i>选择主题背景<b></b></li>
					<li ng-click="vm.menuLink('step3')" class="line"><i></i>logo设置<b></b></li>
					<li ng-click="vm.menuLink('step4')" class="color"><i></i>菜单设置<b></b></li>
					<li ng-click="vm.menuLink('step5')" class="line"><i></i>分享设置<b></b></li>
				</ul>
			</div>
			<div class="step4_content">
				<div class="step4_input">
					<span>命名您的微网站</span>
					<input type="text" ng-blur="vm.setMicroName()" ng-model="vm.microName" placeholder="如：XX律师微网站"/>
				</div>
				<ul class="step4_list">
					<li value="1">
						<span class="left">
							<img src="image/temp.png" width="75" height="75"/><br/>
							<b>
								<input type="text" placeholder="菜单名称" value="地图导航"/>
								<!-- <img src="image/edit.png" width="20" height="20"> -->
							</b>
						</span>
						<span class="right">
							<i>菜单功能：在地图上显示您的位置</i><br/>
							<input type="text" placeholder="请设置您的地址"/><br/>
							<b>展现形式：
								<span class="active">介 绍 页</span>
								<span>内容列表</span>
							</b>
						</span>
						<img src="image/delete.png" width="30" height="30">
					</li>
					<li value="2">
						<span class="left">
							<img src="image/temp.png" width="75" height="75"/><br/>
							<i>微名片
								<!-- <img src="image/edit.png" width="20" height="20">
								<img src="image/right.png" width="20" height="20">
								<img src="image/error.png" width="20" height="20"> -->
							</i>
						</span>
						<span class="right">
							<i>菜单功能：在地图上显示您的位置</i><br/>
							<input type="text" placeholder="请设置您的地址"/><br/>
							<b>
								<span>介 绍 页</span>
								<span>内容列表</span>
							</b>
						</span>
						<img src="image/delete.png" width="30" height="30">
					</li>
					<li value="3">
						<span class="left">
							<img src="image/temp.png" width="75" height="75"/><br/>
							<i>微 相 册
								<!-- <img src="image/edit.png" width="20" height="20">
								<img src="image/right.png" width="20" height="20">
								<img src="image/error.png" width="20" height="20"> -->
							</i>
						</span>
						<span class="right">
							<i>菜单功能：在地图上显示您的位置</i><br/>
							<input type="text" placeholder="请设置您的地址"/><br/>
							<b>
								<span>介 绍 页</span>
								<span>内容列表</span>
							</b>
						</span>
						<img src="image/delete.png" width="30" height="30">
					</li>
					<div class="clean"></div>
				</ul>
			</div>
			<div class="af_btn fix_center" style="margin-left: -33px;">
				<span ng-click="vm.menuLink('step3')">上一步</span>
				<span ng-click="vm.menuLink('step5')">下一步</span>
			</div>
		</div>
		<div class="clean"></div>
	</div>
	<div class="step4_shadow">
      <div class="step4_box">
      		<span class="step4_close" ng-click="vm.hiddenShadow()">
      			<img src="image/delete.png" width="30" height="30">
      		</span>
      		<i>添加微网站菜单<br/><span>已选择菜单 
      		<big class="step4_count" id="userChooseCount">
      		</big> 个， 
      		<big class="step4_count" id="userTotalCount"></big> 个</span></i>
          <ul>
          		<h4>特定菜单功能</h4>
              <li ng-repeat="x in vm.menu1List" name={{x}}>
              	<span><img ng-src={{vm.transferUrl+x.in}} width="50" height="50"></span><br/>
              	<b>{{x.mn}}</b>
              </li>
              <div class="clean"></div>
          </ul>
          <ul>
          		<h4>介绍页或内容列表</h4>
              <li ng-repeat="x in vm.menu2List" name={{x}}>
              	<span><img ng-src={{vm.transferUrl+x.in}} width="50" height="50"></span><br/>
              	<b>{{x.mn}}</b>
              </li>
              <div class="clean"></div>
          </ul>
	      <div class="af_btn fix_center">
					<span ng-click="vm.submitUserChoose()">确 认</span>
					<span ng-click="vm.cancleChoose()">取 消</span>
				</div>
			</div>
  </div>
</div>
