<div class="view">
	<div class="view_title">
		工作室管理
		<select ng-class="vm.orgOrPer" ng-model="vm.abc" ng-options="x as x.tn for x in vm.contentList" ng-change="vm.switchPerOrg(vm.abc.ida)" >
			<option ng-selected="vm.selectedState" value="">--请选择--</option>
		</select>
		<span class="perLawyer">
			<img src= {{vm.headImg}} width="20" height="20">
			{{vm.lawyerName}} 律师
		</span>
	</div>
	<div class="manage_content">
		<div class="mc_left">
			<ul class="mcl_list">
				<!-- <li>
					<img src="image/manage/fans.png" width="18" height="18"/>
					<span><a href="#manage">粉丝数据</a></span>
				</li>
				<li>
					<img src="image/manage/wx.png" width="18" height="18"/>
					<span><a href="#manage">公众号运营</a></span>
				</li> -->
				<li ng-click="vm.menuLink('micro')">
					<img src="image/manage/micro.png" width="18" height="18"/>
					<span><a href="javascript:void(0)">工作室首页设置</a></span>
				</li>
				<li ng-click="vm.menuLink('card3')">
					<img src="image/manage/card.png" width="18" height="18"/>
					<span><a href="javascript:void(0)">微名片信息</a></span>
				</li>
				<li ng-click="vm.menuLink('wx')">
					<img src="image/manage/wx.png" width="18" height="18"/>
					<span><a href="javascript:void(0)">公众号设置</a></span>
				</li>
				<li ng-click="vm.menuLink('data')">
					<img src="image/manage/data.png" width="18" height="18"/>
					<span><a href="javascript:void(0)">用户数据</a></span>
				</li>
				<li ng-click="vm.menuLink('manage')">
					<img src="image/manage/set.png"  width="18" height="18"/>
					<span><a href="javascript:void(0)">内容维护</a></span>
				</li>
				<li ng-click="vm.menuLink('filelist',1)" ng-if="vm.isDeptAdmin">
					<img src="image/manage/class.png"  width="20" height="20"/>
					<span><a href="javascript:void(0)">微课堂</a></span>
				</li>
				<li ng-click="vm.menuLink('filelist',2)" ng-if="vm.isDeptAdmin">
					<img src="image/manage/file.png"  width="20" height="20"/>
					<span><a href="javascript:void(0)">文件</a></span>
				</li>
				<li ng-click="vm.menuLink('filelist',3)" ng-if="vm.isDeptAdmin">
					<img src="image/manage/notice.png"  width="20" height="20"/>
					<span><a href="javascript:void(0)">通知</a></span>
				</li>
			</ul>
		</div>
		<div class="mc_right">
			<div class="list_lenged">
				<h3 class="red">{{vm.docTypeName}}</h3>
				<span ng-click="vm.goBack()"><img src="image/return.png" width="20" height="20"/> 返回</span>
			</div>
			<div class="mc_right_content">
				<div class="mc_right_uploadfile">
					<form class="form_box">
						<div class="mb_input mc_input me_input">
							<i class="input_span">课程图片：</i>
							<a href="javascript:void(0);">
								<img src="image/docs/add.png" width="20" height="20"/> 选择图片
								<input type="file" id="choose_file" ng-model="vm.fileName"/>
							</a>
							<span class="card1_preview uploadfile_preview" id="img_preview"></span>
							<div class="form_box_crop">
								<button ng-click="vm.uploadImg()">
									上传图片
								</button>
								<div class="card1_left">
									<img ng-show="vm.hiddenInitImg" id="themeCropper" src={{vm.fileImg}}>
								</div>
							</div>
						</div>
						<div class="mb_input mc_input">
							<i>讲师姓名：</i>
							<input type="text" ng-model="vm.newFileExpNm" placeholder="讲师姓名">
							<div class="step5_validate">
								<span ng-class="vm.calLength(vm.newFileExpNm)>18?'red':''">
								{{vm.calLength(vm.newFileExpNm)}}</span><i> / 18</i>
								<b ng-show="vm.calLength(vm.newFileExpNm)>18">字数超过限制</b>
							</div>
						</div>
						<div class="mb_input mc_input">
							<i>课程名称：</i>
							<input type="text" ng-model="vm.newFileTitle" placeholder="课程名称">
							<div class="step5_validate">
								<span ng-class="vm.calLength(vm.newFileTitle)>72?'red':''">
								{{vm.calLength(vm.newFileTitle)}}</span><i> / 72</i>
								<b ng-show="vm.calLength(vm.newFileTitle)>72">字数超过限制</b>
							</div>
						</div>
						<div class="mb_input mc_input">
							<i class="area">课程简介：</i>
							<textarea ng-model="vm.newFileContent" placeholder="课程简介"></textarea>
							<div class="step5_validate">
								<span ng-class="vm.calLength(vm.newFileContent)>512?'red':''">
								{{vm.calLength(vm.newFileContent)}}</span><i> / 512</i>
								<b ng-show="vm.calLength(vm.newFileContent)>512">字数超过限制</b>
							</div>
						</div>
						<div class="mb_input mc_input input_file_fix input_file_upload">
							<i>课程文件：(支持doc、docx、xls、xlsx、ppt、pptx、pdf、mp3、mp4格式)</i>
							<div class="changeBg" ng-click="vm.getUploadFileType()">
								上传文件
								<input type="file" id="step5_upload" ng-model="vm.fileName"/>
							</div>
							<div class="uploadTextBox"></div>
							<div class="uploadFileBox">
								<span class="uploadFileName"></span>
								<span class="uploadFilePercent"></span>
								<span class="uploadProgress"><span></span></span>
							</div>
						</div>
					</form>
				</div>
				<div class="af_btn fix_center">
					<span ng-click="vm.setFileUpload()">完成</span>
				</div>
				<div class="usrContent">
			      <p>已上传课程:</p>
			      <ul class="usrContentList">
			        <li id="x.did" ng-repeat="x in vm.artitleList">
			        	<p>{{x.dn?(x.dn.length>15?x.dn.substr(0,15)+'...':x.dn):'文件名'}}</p>
			        	<span ng-click="vm.deleteArticle(x.did)">删除</span>
			        </li>
			      </ul>
				</div>
			</div>	
		</div>
	</div>
	
	
	
	<div class="clean"></div>
</div>
