<div class="view">
	<div class="view_title">
		工作室管理
	</div>
	<div class="manage_content">
		<div class="mc_left">
			<ul class="mcl_list">
				<!-- <li>
					<img src="image/manage/fans.png" width="18" height="18"/>
					<span><a href="#manage">粉丝数据</a></span>
				</li>
				<li>
					<img src="image/manage/wx.png" width="18" height="18"/>
					<span><a href="#manage">公众号运营</a></span>
				</li> -->
				<li ng-click="vm.menuLink('micro')">
					<img src="image/manage/micro.png" width="18" height="18"/>
					<span><a href="javascript:void(0)">工作室首页设置</a></span>
				</li>
				<li ng-click="vm.menuLink('card3')">
					<img src="image/manage/card.png" width="18" height="18"/>
					<span><a href="javascript:void(0)">微名片信息</a></span>
				</li>
				<li ng-click="vm.menuLink('wx')">
					<img src="image/manage/wx.png" width="18" height="18"/>
					<span><a href="javascript:void(0)">公众号设置</a></span>
				</li>
				<li ng-click="vm.menuLink('data')">
					<img src="image/manage/data.png" width="18" height="18"/>
					<span><a href="javascript:void(0)">用户数据</a></span>
				</li>
				<li ng-click="vm.menuLink('manage')">
					<img src="image/manage/set.png"  width="18" height="18"/>
					<span><a href="javascript:void(0)">内容维护</a></span>
				</li>
				<li ng-click="vm.menuLink('filelist',1)" ng-if="vm.isDeptAdmin">
					<img src="image/manage/class.png"  width="20" height="20"/>
					<span><a href="javascript:void(0)">微课堂</a></span>
				</li>
				<li ng-click="vm.menuLink('filelist',2)" ng-if="vm.isDeptAdmin">
					<img src="image/manage/file.png"  width="20" height="20"/>
					<span><a href="javascript:void(0)">文件</a></span>
				</li>
				<li ng-click="vm.menuLink('filelist',3)" ng-if="vm.isDeptAdmin">
					<img src="image/manage/notice.png"  width="20" height="20"/>
					<span><a href="javascript:void(0)">通知</a></span>
				</li>
				<li ng-click="vm.menuLink('videolist')" ng-if="vm.isHenanAdmin">
					<img src="image/manage/class.png"  width="20" height="20"/>
					<span><a href="javascript:void(0)">上传视频</a></span>
				</li>
			</ul>
		</div>
		<div class="mc_right">
			<div class="list_lenged">
				<h3 class="red">{{vm.docTypeName}}</h3>
			</div>
	    <div class="contentBox" style="display:block;">
	      <ul class="contentList">
	        <li id="x.tid" ng-repeat="x in vm.artitleList" ng-click="vm.gotoUpload(x.ls,x.ldid)">
	        	<div style="border:1px solid #ccc;padding-top:5px;width:100%;padding-left:10px;">
	        		<div class="contentList_center">
		        		<div class="contentList_center_title">{{x.lt?(x.lt.length>15?x.lt.substr(0,15)+'...':x.lt):'文件名'}}</div>
		        		<div class="contentList_center_expNm" style="line-height:25px;">
		        			主讲人:<span>{{x.sn?x.sn:'主讲人'}}</span><br/>
		        			直播时间:<span>{{vm.getLocalTime(x.livetime)}}</span><br/>
		        			课程简介:<span>{{x.ld.length>30?x.ld.substr(0,30)+'...':x.ld}}</span>
		        		</div>
		        	</div>	
	        	</div>
	        	
	        </li>
	      </ul><br>
	      <div ng-if="vm.getMoreFlag" ng-click="vm.getMore()" style="width:100px;height:40px;line-height:40px;text-align:center;margin:0 auto;border:1px solid #ccc;border-radius:5px;cursor:pointer;">加载更多</div>
	    </div>
	    <div class="addFile" ng-if="vm.uploadVideo">
	      <img src="image/addFile.png" ng-click="vm.gotoAddFile()" width="100" height="100">
	    </div>
		</div>
		<div class="clean"></div>
	</div>
	
	
</div>