<div class="view">
	<div class="view_title">微网站管理</div>
	<div class="manage_content">
		<div class="mc_left">
			<ul class="mcl_list">
				<li ng-click="vm.menuLink('micro')">
					<img src="image/manage/micro.png" width="18" height="18"/>
					<span><a href="javascript:void(0)">微网站首页设置</a></span>
				</li>
				<li ng-click="vm.menuLink('card')">
					<img src="image/manage/card.png" width="18" height="18"/>
					<span><a href="javascript:void(0)">微名片信息</a></span>
				</li>
				<li class="text-active" ng-click="vm.menuLink('wx')">
					<img src="image/manage/wx.png" width="18" height="18"/>
					<span><a href="javascript:void(0)">公众号设置</a></span>
				</li>
				<li ng-click="vm.menuLink('data')">
					<img src="image/manage/data.png" width="18" height="18"/>
					<span><a href="javascript:void(0)">用户数据</a></span>
				</li>
				<li ng-click="vm.menuLink('manage')">
					<img src="image/manage/set.png"  width="18" height="18"/>
					<span><a href="javascript:void(0)">内容维护</a></span>
				</li>
			</ul>
		</div>
		<div class="mc_right">
			<div class="list_lenged">
				<h3 class="red">公众号授权</h3>
				<div class="wx_author_btn" ng-if="vm.authorFlag">
					<img ng-click="vm.wxAuthor()" src="image/manage/wxauthor.png"/>
				</div>
			</div>
			<div class="af_btn author_btn" ng-if="!vm.authorFlag">
				<span>{{vm.authorReault}}</span>
				<!-- 设置时间段自动回复暂时不做 -->
				<!-- <div class="wx_auto_reply">
					<h3>自动回复<i>不方便线上回复用户时，可以设置微信公众号的自动回复</i></h3>
					<div><span>启用自动回复</span><span ng-click="vm.menuLink('reply1')">设置自动回复</span></div>
				</div> -->
				<div class="wx_auto_reply">
					<h3>被关注欢迎图文<i>设置公众号新关注用户的欢迎图文消息</i></h3>
					<div><span ng-class="vm.imgTextFlag ? '' : 'delete'" ng-click="vm.changeImgTextReply()" ng-model="vm.imgTextReply">{{vm.imgTextReply}}</span><span ng-click="vm.menuLinkReply()">设置欢迎图文</span></div>
				</div>
			</div>
		</div>
		<div class="clean"></div>
	</div>
</div>
