<div class="view">
	<div class="view_title">
		工作室管理
		<select ng-class="vm.orgOrPer" ng-model="vm.abc" ng-options="x as x.tn for x in vm.contentList" ng-change="vm.switchPerOrg(vm.abc.ida)" >
			<option ng-selected="vm.selectedState" value="">--请选择--</option>
		</select>
		<span class="perLawyer">
			<img src= {{vm.headImg}} width="20" height="20">
			{{vm.lawyerName}} 律师
		</span>
	</div>
	<div class="manage_content">
		<div class="mc_left">
			<ul class="mcl_list">
				<li ng-click="vm.menuLink('micro')">
					<img src="image/manage/micro.png" width="18" height="18"/>
					<span><a href="javascript:void(0)">工作室首页设置</a></span>
				</li>
				<li ng-click="vm.menuLink('card3')">
					<img src="image/manage/card.png" width="18" height="18"/>
					<span><a href="javascript:void(0)">微名片信息</a></span>
				</li>
				<li class="text-active" ng-click="vm.menuLink('wx')">
					<img src="image/manage/wx.png" width="18" height="18"/>
					<span><a href="javascript:void(0)">公众号设置</a></span>
				</li>
				<li ng-click="vm.menuLink('data')">
					<img src="image/manage/data.png" width="18" height="18"/>
					<span><a href="javascript:void(0)">用户数据</a></span>
				</li>
				<li ng-click="vm.menuLink('manage')">
					<img src="image/manage/set.png"  width="18" height="18"/>
					<span><a href="javascript:void(0)">内容维护</a></span>
				</li>
				<li ng-click="vm.menuLink('filelist',1)" ng-if="vm.isDeptAdmin">
					<img src="image/manage/class.png"  width="20" height="20"/>
					<span><a href="javascript:void(0)">微课堂</a></span>
				</li>
				<li ng-click="vm.menuLink('filelist',2)" ng-if="vm.isDeptAdmin">
					<img src="image/manage/file.png"  width="20" height="20"/>
					<span><a href="javascript:void(0)">文件</a></span>
				</li>
				<li ng-click="vm.menuLink('filelist',3)" ng-if="vm.isDeptAdmin">
					<img src="image/manage/notice.png"  width="20" height="20"/>
					<span><a href="javascript:void(0)">通知</a></span>
				</li>
			</ul>
		</div>
		<div class="mc_right">
			<div class="list_lenged">
				<h3 class="red" ng-model="vm.authState">{{vm.authState}}</h3>
				<div class="wx_author_btn" ng-if="vm.authorFlag">
					
					<img ng-click="vm.wxAuthor()" src="image/manage/wxauthor.png"/>
					<div class="wx_pub_tip">
						<ul class="wx_pub_left">
							<li>工作室可嵌入到微信公众号，实现微信公众号自媒体运营、与客户实时互动；</li>
							<li>还可在线收费、在线交付文件、语音图文对话、转网页版聊天；</li>
							<li>这需要您在微信公众平台https://mp.weixin.qq.com/ 开立微信公众号，并授权绿石进行技术部署；</li>
							<li>详询 010 5717 3025，15832265268，张帅先生</li>
						</ul>
						<div class="wx_pub_right">
							<img src="image/wx_mg_tip.png"/>
						</div>
					</div>
				</div>
			</div>
			<div class="af_btn author_btn" ng-if="!vm.authorFlag">
				<div class="authorReault">已授权公众号：<i>{{vm.authorReault}}</i></div>
				<!-- 设置时间段自动回复暂时不做 -->
				<!-- <div class="wx_auto_reply">
					<h3>自动回复<i>不方便线上回复用户时，可以设置微信公众号的自动回复</i></h3>
					<div><span>启用自动回复</span><span ng-click="vm.menuLink('reply1')">设置自动回复</span></div>
				</div> -->
				<!-- <div class="wx_auto_reply">
					<h3>被关注欢迎图文<i>设置公众号新关注用户的欢迎图文消息</i></h3>
					<div><span ng-class="vm.imgTextFlag ? '' : 'delete'" ng-click="vm.changeImgTextReply()" ng-model="vm.imgTextReply">{{vm.imgTextReply}}</span><span ng-click="vm.menuLinkReply()">设置欢迎图文</span></div>
				</div> -->
				<div class="imgTitle_reply">
					<div class="img_reply">
						<div class="imgTitle_reply_box">
							<span>标题：</span><i>*</i><input type="text" placeholder="60字以内" ng-model="vm.title">
						</div>
						<div class="step5_validate">
							<span ng-class="vm.title.length>60?'red':''">
							{{vm.title.length}}</span><i> / 60</i>
							<b ng-show="vm.title.length>60">字数超过限制</b>
						</div>
						<div class="imgTitle_reply_box">
							<span>摘要：</span><i>*</i><textarea name="" id="" placeholder="120字以内" ng-model="vm.desc">{{vm.desc}}</textarea>
						</div>
						<div class="step5_validate">
							<span ng-class="vm.desc.length>120?'red':''">
							{{vm.desc.length}}</span><i> / 120</i>
							<b ng-show="vm.desc.length>120">字数超过限制</b>
						</div>
						
						<div class="imgTitle_reply_box">
							<span>封面：</span>
							<div class="reply2_box">
								<div class="reply2_box_sel">
									选择图片
									<input type="file" id="choose_file" ng-model="vm.fileName"/>
								</div>
								<div class="reply2_box_sel reply2_box_upload" ng-click="vm.uploadFile()">
									确认上传
								</div>
								<div class="reply2_left">
									<img ng-show="vm.hiddenInitImg" id="themeCropper" ng-src={{vm.imgUrl}}>
								</div>
							</div>
						</div>
					<div class="auto_reply_confirm">
						<span ng-click="vm.setImgTextReply()">确认</span>
					</div> 
					</div>	
				</div>
				
			</div>
		</div>
		<div class="clean"></div>
	</div>
</div>
