<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
  <title>移动建站</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width,height=device-height,user-scalable=no,initial-scale=1">
  <meta name="x5-orientation" content="portrait">
  <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
  <meta http-equiv="Pragma" content="no-cache" />
  <meta http-equiv="Expires" content="0" />
  <link rel="stylesheet" href="../css/style.css">
</head>
<body>
	<div id="wrap" style="width:100%;height:100%">
		<div class="active">
			<div class="index_head actexpired_head">绿石微应用过期</div>
			<div class="index_main actexpired_main">
				您的微应用已于【<span id="actexpired_time"></span>】过期，请联系绿石客服付费后继续使用，详询
			</div>
			<div class="actexpired_bot"><p>010 5717 3025</p><p>158 3226 5268</p><div>张帅先生</div></div>
			
		</div>
	</div>
	<div id="globle_load_box"></div>
	<script type="text/javascript" src="../lib/zepto.min.js"></script>
	<script type="text/javascript" src="../js/common.js"></script>
	<script type="text/javascript" src="../js/actexpired.js"></script>
</body>
</html>