<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
  <title>移动建站</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width,height=device-height,user-scalable=no,initial-scale=1">
  <meta name="x5-orientation" content="portrait">
  <link rel="stylesheet" href="../css/style.css">
</head>
<body>
	<div id="wrap" style="width:100%;height:100%">
		<div class="active">
			<div class="index_head active_head">欢迎使用绿石微应用</div>
			<div class="index_main active_main">
				您已获得<span>7天</span>试用，点击“激活”以开启微应用体验之旅
			</div>
			<div class="reg_tip active_tip"><input type="checkbox" id="reg_check" style="display:none"><label for="reg_check">阅读并接受<a href="agreement.html">绿石微应用协议</a></label></div>
			<div class="index_button active_button" id="active_btn"><span></span><span></span><span></span><span></span><a href="javascript:void(0)">激活</a></div>
		</div>
	</div>
	<div id="globle_load_box"></div>
	<script type="text/javascript" src="../lib/zepto.min.js"></script>
	<script type="text/javascript" src="../js/common.js"></script>
	<script type="text/javascript" src="../js/active.js"></script>
</body>
</html>