<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
  <title>我的名片</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width,height=device-height,user-scalable=no,initial-scale=1">
  <meta name="x5-orientation" content="portrait">
  <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
  <meta http-equiv="Pragma" content="no-cache" />
  <meta http-equiv="Expires" content="0" />
  <link rel="stylesheet" href="../css/style.css">
</head>
<body>
	<div id="wrap" style="width:100%;height:100%">
		<div class="active">
			
			<div class="index_main actexpired_main">
				输入您的微应用体验码，以开启绿石微应用体验之旅
			</div>
			<input type="text" class="actmode_inp">
			<div class="index_button actmode_btn"><span></span><span></span><span></span><span></span><a href="javascript:void(0)"></a>激活</div>
			
		</div>
	</div>
	<div id="globle_load_box"></div>
	<script type="text/javascript" src="../lib/zepto.min.js"></script>
	<script type="text/javascript" src="../js/common.js"></script>
	<script type="text/javascript" src="../js/actmode.js"></script>
</body>
</html>