<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>移动建站</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width,height=device-height,user-scalable=no,initial-scale=1">
  <meta name="x5-orientation" content="portrait">
  <link rel="stylesheet" href="../css/style.css">
</head>
<body>
	<div id="wrap">
		<div class="card">
			<div class="index_head reg_head">微名片基本信息</div>
			<div class="index_main reg_main">
				<div class="card_box"><span>头像</span><label for="head"></label><input type="file" id="head" style="display:none"></div>
				<div><span>姓名</span><input type="text" placeholder="您的真实姓名"></div>
				<div><span>律所</span><input type="text" placeholder="律所名称"></div>
				<div><span>职务</span><input type="text" placeholder="您的职务"></div>
				<div class="card_box"><span>二维码</span><label for="qrcode"></label><input type="file" id="qrcode" style="display:none"></div>
				<div><span>电话</span><input type="text" placeholder="您的电话"></div>
				<div><span>邮箱</span><input type="text" placeholder="您的邮箱"></div>
				<div><span>座机</span><input type="text" placeholder="您的座机"></div>
				<div><span>网址</span><input type="text" placeholder="您的网址"></div>
				<div><span>地址</span><input type="text" placeholder="您的地址"></div>
				<div class="card_area"><span>简介</span><textarea placeholder="您的简介"></textarea></div>
				<div class="card_area"><span>专业<br/>领域</span><textarea placeholder="您的专业领域"></textarea></div>
			</div>
			<div class="index_button card_button"><span></span><span></span><span></span><span></span><a href="share.html">下一步</a></div>
			<!-- <div class="index_button card_button"><span></span><span></span><span></span><span></span>跳过此步，直接预览</div> -->
		</div>
		
	</div>
</body>
</html>