<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>移动建站</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width,height=device-height,user-scalable=no,initial-scale=1">
  <meta name="x5-orientation" content="portrait">
  <link rel="stylesheet" href="../css/style.css">
</head>
<body>
	<div id="wrap">
		<div class="card">
			<div class="index_head reg_head">微名片基本信息</div>
			<div class="index_main reg_main">
				<div class="card_box"><span>头像</span>
				<label id="card_box"></label>
				<!-- <input  type="file" id="head" style="display:none"> -->
				<!-- <input id="card_file" type="file"> -->
				<input id="card_file" type="button">
				<img id="card_preview" src="" width="70" height="70">
				<span class="card_edit">点击可编辑</span>
				</div>
				<div><span>姓名</span><input type="text" id="NAME" placeholder="您的真实姓名"></div>
				<div><span>律所</span><input type="text" id="Depart" placeholder="律所名称"></div>
				<div><span>职务</span><input type="text" value="律师" id="Rank" placeholder="您的职务"></div>

				<!-- <div class="card_box"><span>二维码</span><label for="qrcode" onclick="selectQrcode()"></label><input type="file" id="qrcode" style="display:none"></div> -->
				<div class="card_box qrcode_box"><span>二维码</span>
				<label id="qrcode_box"></label>
				<!-- <input  type="file" id="head" style="display:none"> -->
				<input id="qrcode_file" type="file">
				<img id="qrcode_preview" src="" width="70" height="70">
				<span class="card_edit">点击可编辑</span>
				</div>
				<div><span>电话</span><input type="text" id="Mobile" placeholder="您的电话"></div>
				<div><span>邮箱</span><input type="text" value="lawyer@askgreenstone.com" id="Email" placeholder="您的邮箱"></div>
				<div><span>座机</span><input type="text" id="TelNo" placeholder="您的座机"></div>
				<div><span>网址</span><input type="text" value="www.askgreenstone.com" id="WebSite" placeholder="您的网址"></div>
				<div><span>区域</span><input type="text" value="北京" id="Region" placeholder="例如（北京市）"></div>
				<div><span>地址</span><input type="text" value="朝阳区三元桥时间国际4号楼" id="Address" placeholder="您的地址"></div>
				<div class="card_area"><span>简介</span><textarea id="Abstract" placeholder="您的简介">律师执业多年以来，长期担任企业法律常年法律顾问，服务客户包含XX等五百强企业。</textarea></div>
				<div class="card_area"><span>专业<br/>领域</span><textarea id="Introduction" placeholder="您的专业领域">投融资及资本市场、公司法、知识产权</textarea></div>
			</div>
			<div class="index_button" id="card_next"><span></span><span></span><span></span><span></span><a href="javascript:void(0)">下一步</a></div>
			<!-- <div class="index_button card_button"><span></span><span></span><span></span><span></span>跳过此步，直接预览</div> -->
		</div>
		
	</div>
	<script type="text/javascript" src="../lib/jquery.min.js"></script>
	<script type="text/javascript" src="../js/common.js"></script>
	<script type="text/javascript" src="../js/card.js"></script>
	<div id="globle_load_box"></div>
</body>
</html>