<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>移动建站</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width,height=device-height,user-scalable=no,initial-scale=1">
  <meta name="x5-orientation" content="portrait">
  <link rel="stylesheet" href="../css/style.css">
</head>
<body>
	<div id="wrap">
		<div class="custom">
			<div id="custom_begin" class="index_button custom_button"><span></span><span></span><span></span><span></span><a href="javascript:void(0);">开始定制</a></div>
			<div id="custom_preview" class="index_button custom_button"><span></span><span></span><span></span><span></span><a href="javascript:void(0);">预览我的微网站</a></div>
			<div class="index_button custom_button"><span></span><span></span><span></span><span></span><a href="template.html">重新定制</a></div>
			<div id="custom_logout" class="index_button custom_button"><span></span><span></span><span></span><span></span><a href="../index.html">退出登录</a></div>
		</div>
		
	</div>
	<script src="../lib/zepto.min.js"></script>
	<script src="../js/common.js"></script>
	<script src="../js/api.js"></script>
	<script src="../js/custom.js"></script>
</body>
</html>