<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>我的工作室</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width,height=device-height,user-scalable=no,initial-scale=1">
  <meta name="x5-orientation" content="portrait">
  <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
  <meta http-equiv="Pragma" content="no-cache" />
  <meta http-equiv="Expires" content="0" />
  <link rel="stylesheet" href="../css/style.css">
</head>
<body>
	<div id="wrap">
		<div class="custom">
			<div id="custom_begin" class="index_button custom_button"><span></span><span></span><span></span><span></span><a href="javascript:void(0);">开始定制</a></div>
			<!-- <div id="custom_preview" class="index_button custom_button"><span></span><span></span><span></span><span></span><a href="javascript:void(0);">预览我的微网站</a></div>
			<div id="custom_reset" class="index_button custom_button"><span></span><span></span><span></span><span></span><a href="javascript:void(0);">重新定制</a></div> -->
			<!-- <div id="custom_wxscan" class="index_button custom_button"><span></span><span></span><span></span><span></span><a href="javascript:void(0);">扫 一 扫</a></div> -->
			<div id="custom_logout" class="index_button custom_button"><span></span><span></span><span></span><span></span><a href="javascript:void(0);">退出登录</a></div>
			<!-- <p class="custom_tips">
				移动建站帮助您使用手机快速生成微网站。如需对菜单调整及内容编辑等操作，请下载
				<i id="downloadApp">绿石开门专家版</i>，在PC上访问微应用管理后台<b>web.askgreenstone.com</b>，扫码验证登录。
			</p> -->
		</div>
	</div>
	<script src="../lib/zepto.min.js"></script>
	<script src="../js/common.js"></script>
	<script src="../js/api.js"></script>
	<script src="../js/custom.js"></script>
</body>
</html>