<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>移动建站</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width,height=device-height,user-scalable=no,initial-scale=1">
  <meta name="x5-orientation" content="portrait">
  <link rel="stylesheet" href="../css/style.css">
</head>
<body>
	<div id="wrap">
		<div class="register">
			<div class="index_head reg_head">律师注册</div>
			<div class="index_main reg_main">
				<div><span>手机</span><input type="text" placeholder="请使用大陆手机号"></div>
				<div><span>姓名</span><input type="text" placeholder="您的真实姓名"></div>
				<div><span>密码</span><input type="text" placeholder="6-16位数字、字母或下划线组合"></div>
				<div><span></span><input type="text" placeholder="重复您的密码"></div>
				<div><span>验证码</span><input type="text"><input type="button" value="获取短信验证码"></div>
				
			</div>
			<div class="reg_tip"><input type="checkbox" id="check" style="display:none"><label for="check">阅读并接受用户协议</label></div>
			<div class="index_button"><span></span><span></span><span></span><span></span>注册</div>
		</div>
		
	</div>
</body>
</html>