<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
  <title>移动建站</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width,height=device-height,user-scalable=no,initial-scale=1">
  <meta name="x5-orientation" content="portrait">
  <link rel="stylesheet" href="../css/style.css">
</head>
<body>
	<div id="wrap">
		<div class="share">
			<div class="index_head share_head">首页微信分享设置</div>
			<div class="index_main share_main">
				<div>分享标题</div>
				<input type="text" id="title" placeholder="张X律师微网站">
				<div>分享摘要</div>
				<textarea id="desc" placeholder="分享摘要分享摘要分享摘要分享摘要"></textarea>
				<div class="share_icon"><span>分享图标</span>
				<label for="icon" class="index_button share_button"><span></span><span></span><span></span><span></span>选择图标</label>
				<input id="icon" type="file" style="display:none"></div>
				<div class="icon"><img id="share_preview" width="80" height="80" src=""></div>
			</div>
			<div class="index_button"><span></span><span></span><span></span><span></span><a href="javascript:void(0)" onclick="uploadShareImg()">下一步</a></div>
		</div>
	</div>
	<script type="text/javascript" src="../lib/jquery.min.js"></script>
	<script type="text/javascript" src="../js/common.js"></script>
	<script type="text/javascript" src="../js/share.js"></script>
</body>
</html>