<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
  <title>移动建站</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width,height=device-height,user-scalable=no,initial-scale=1">
  <meta name="x5-orientation" content="portrait">
  <link rel="stylesheet" href="../css/style.css">
</head>
<body>
	<div id="wrap">
		<div class="share">
			<div class="index_head share_head">首页微信分享设置</div>
			<div class="index_main share_main">
				<div>分享标题</div>
				<input type="text" id="title" placeholder="张X律师微网站" value="我的律师微网站">
				<div>分享摘要</div>
				<textarea id="desc" placeholder="分享摘要">我正在定制自己的微网站，欢迎访问我的微网站！</textarea>
				<div class="card_box share_box">
					<span>分享图标</span>
					<label id="share_box"></label>
					<input id="share_file" type="file">
					<img id="share_preview" src="http://transfer.green-stone.cn/greenStoneicon300.jpg" width="70" height="70">
				</div>
			</div>
			<div class="index_button" id="set_share"><span></span><span></span><span></span><span></span><a href="javascript:void(0)">完成</a></div>
		</div>
	</div>
	<div id="globle_load_box"></div>
	<script type="text/javascript" src="../lib/jquery.min.js"></script>
	<script type="text/javascript" src="../js/common.js"></script>
	<script type="text/javascript" src="../js/share.js"></script>
</body>
</html>