<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>移动建站</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width,height=device-height,user-scalable=no,initial-scale=1">
  <meta name="x5-orientation" content="portrait">
  <link rel="stylesheet" href="../css/style.css">
</head>
<body>
	<div id="wrap">
		<div class="template">
			<div class="index_head template_head">选择模板</div>
			<ul class="template_list">
				<li><img src="../image/1.png"></li>
				<li><img src="../image/2.png"></li>
				<li><img src="../image/3.png"></li>
			</ul>
		</div>
		
	</div>
</body>
</html>