<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>移动建站</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width,height=device-height,user-scalable=no,initial-scale=1">
  <meta name="x5-orientation" content="portrait">
  <link rel="stylesheet" href="../css/style.css">
</head>
<body>
	<div id="wrap">
		<div class="themeBg">
			<div class="index_head themeBg_head">主题背景</div>
			<div class="themeBg_main">
				<img src="../image/themes/1.png">
			</div>
			<div class="index_button"><span></span><span></span><span></span><span></span><a href="card.html">下一步</a></div>
			<div class="index_button themeBg_button"><span></span><span></span><span></span><span></span>更换背景</div>
		</div>
		
	</div>
</body>
</html>