<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>选择主题背景</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width,height=device-height,user-scalable=no,initial-scale=1">
  <meta name="x5-orientation" content="portrait">
  <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
  <meta http-equiv="Pragma" content="no-cache" />
  <meta http-equiv="Expires" content="0" />
  <link rel="stylesheet" href="../css/cropper.min.css">
  <link rel="stylesheet" href="../css/style.css">
</head>
<body>
	<div id="wrap">
		<div class="iframe_box">
			<iframe src="" frameborder="0"></iframe>
			<div class="themeScan_Iframe"></div>
		</div>
		
		<!-- <div class="themeBg">
			<div class="index_head themeBg_head">主题背景</div>
			<div class="themeBg_main">
				<img id="themeCropper" src="" width="1" height="1">
			</div>
			<div class="themeBg_btn_box">
				<div id="themebg_scan" class="index_button themeBg_btn"><span></span><span></span><span></span><span></span><a href="javascript:void(0);">预览</a></div>
				<div id="themebg_next" class="index_button themeBg_btn"><span></span><span></span><span></span><span></span><a href="javascript:void(0);">下一步</a></div>
			</div>
			
			<div class="index_button themeBg_button"><span></span><span></span><span></span><span></span>更换背景</div>
			<input type="file" id="themebg_choose" class="themeBg_input">
		</div> -->
	</div>
	<!-- <div id="globle_load_box"></div> -->
	<script type="text/javascript" src="../lib/jquery.min.js"></script>
	<script type="text/javascript" src="../lib/cropper.min.js"></script>
	<script src="../js/common.js"></script>
	<script type="text/javascript" src="../js/api.js"></script>
	<script type="text/javascript" src="../js/themescan.js"></script>
</body>
</html>