/*css基础类，存放全局样式，公共组件，以及网页适配*/

/*字体大小*/
@b-size: 1.2rem;
@s-size: 1.3rem;
@m-size: 1.4rem;
@l-size: 1.5rem;
@xl-size: 1.6rem;
/*常用色值*/
@black10:#000;
@black07:rgba(0,0,0,0.7);
@black06:rgba(0,0,0,0.6);

* {
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: transparent;
}
/*公共样式*/
html {
    font-size: 62.5%;
    width:100%;
    height:100%;
}

body {
    margin: 0 auto;
    color: #595757;
    background-color: #ebebeb;
    width:100%;
    height:100%;
}
#myapp{
    width:100%;
    height:100%;
}
a:link,
a:visited {
    color: #595757;
    text-decoration: none;
}

a:hover,
a:active {
    color: #595757;
    text-decoration: none;
}
input:focus {
  outline-color: transparent;
  outline-style: none;
}

ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

p{
    margin: 0;
}

/*临时添加*/

.temp div{
    background-color: #fff;
    width: 47%;
    padding: 2%;
    box-sizing: border-box;
    float: left;
    color: rgba(0, 0, 0, 0.6);
    font-size: 1.4rem;
    margin: 1% 1%;
    border-radius: 5px;
}
.temp div img{
    width: 100%;   
}
.temp div span{
    width: 100%;
    text-align: center;
    display: block;
    line-height:30px;
}


/*列表无限滚动组件*/
.height80{
    height: 80px;
    width: 100%;
    border:1px solid black;
}
.infinite-list-item{
    height: 40px;
    border:1px solid black;
    width: 100%;
}
.myListLoader{
    text-align: center;
    font-size: 16px;
    width: 92%;
    border: 1px solid #ccc;
    margin: 0 auto;
    padding: 2% 0;
    clear: both;
    background-color: #fff;
    border-radius: 2px;
    cursor: pointer;
    color: #999;
}
.myListLoader img{
    vertical-align: middle;
    margin-right: 2%;
}

/*瀑布流组件*/
.water-fall-ul{
    list-style-type: none;
    margin: 5px;
    padding: 0;
}
.water-fall-list{
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 1px 2px 20px 1px #d3d3d3;
    padding: 0px 0px 0px 0px;
    margin-bottom: 2%;
    border-radius: 3px;
}
.water-fall-list div{
    color: rgba(0,0,0,0.6);
    margin: 5%;
}
.water-fall-list img{
    border-radius: 3px 3px 0 0;
}

/*grid2一行两列布局*/
.grid2{
  margin: 4% 0;
  height: 60px;
}
.grid2 li{
    float: left;
    border:1px solid #ccc;
    width:50%;
    background-color: #fff;
    border-left:none;
    border-right: none;
    box-sizing: border-box;
    height: 60px;
    line-height: 52px;
    position: relative;
    text-align: center;
}
.grid2 div{
    height: 50px;
    width: 115px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -25px 0 0 -55px;
}
.grid2 li:first-child{
    border-right:1px solid #ccc;
}
.grid2 li:first-child img{
    float: left;
    margin-top: 5%;
}
.grid2 li:last-child img{
    float: right;
    margin-top: 5%;
}
.grid2 span{
  font-size: @l-size;
  font-weight: bold;
  color: @black07;
}
.clean{
  clear: both;
}

/*grid4一行四列布局*/
.grid4{
  margin-top: 4%;
  border-top: 1px solid #ccc;
}
.grid4 li{
  background-color: #fff;
  width: 25%;
  text-align: center;
  border:1px solid #ccc;
  border-top:none;
  border-left:none;
  box-sizing: border-box;
  float: left;
  padding: 5% 0;
}
.grid4 span{
  display: block;
  margin: 4%;
}

/*微名片*/
.clear {
    clear: both;
}

.user_info {
    position: relative;
    height: 84px;
}

.qr_hidden {
    height: 600px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    z-index: 999;
    display: none;
}

.qr_hidden img {
    position: absolute;
    top: 45%;
    left: 50%;
    // margin: -100px 0 0 -100px;
    margin: -155px 0 0 -100px;
}

.tap_text{
    color: #ccc;
    font-size: 1.3rem;
    text-align: center;
    margin-top: 35%;
}

.ui_header {
    border-radius: 50%;
    position: absolute;
    left: 5%;
    top: 50%;
    margin-top: -33px;
}

.user_info p {
    // font-size: @s-size;
    display: inline-block;
    margin: 3% 0 0 30%;
    font-family: 'Microsoft Yahei';
}

.user_info p>span {
    line-height: 20px;
}

.user_info p>span:first-child {
    color: #3e3e3e;
    font-size: @xl-size;
    font-weight: bold;
}

.ui_qrcode {
    position: absolute;
    top: 50%;
    right: 3%;
    margin: -28px 0 0 0;
    cursor: pointer;
}

.user_content {
    background-color: #fff;
    padding: 2% 0;
}

.uc_input {
    border: 1px solid #6e3091;
    margin: 3% 3%;
    border-radius: 5px;
    position: relative;
    // padding: 3%;
    padding: 3% 12% 3% 3%;
    font-size: @m-size;
    font-family: 'Microsoft Yahei';
}

.uc_input img {
    position: absolute;
    right: 2%;
    top: 50%;
    cursor: pointer;
    margin-top: -12px;
}

.fixed {
    line-height: 20px;
}

.user_intro {
    margin: 0% 3% 0;
    padding: 3%;
    font-family: 'Microsoft Yahei';
}

.user_intro i {
    font-style: normal;
    font-size: @l-size;
    font-weight: bold;
    margin-bottom: 2%;
    display: inline-block;
}

.user_intro p {
    line-height: 20px;
    font-size: @m-size;
    text-align: justify;
}
.user_intro div{
    width: 100%;
    text-align: right;
    line-height: 26px;
    color: #6e3091;
    cursor: pointer;
}
.user_create {
    text-align: center;
    border-bottom: 1px solid #828181;
    padding-bottom: 1%;
    width: 100px;
    margin: 2% auto;
    font-size: @m-size;
    font-weight: bold;
    font-family: 'Microsoft Yahei';
}
.card_unedit {
    width:100%;
    height:40px;
    line-height:40px;
    text-align:center;
    font-size:14px;
}
.vcard_box{
  border: 1px solid #6e3091;
  margin: 3%;
  border-radius: 5px;
  text-align: center;
}
.vcard_box img{
  margin: 2% 5% 2% -2%;
  vertical-align: middle;
}
.vcard_box i{
  font-size: 1.3rem;
  font-style: normal;
  line-height: 38px;
  color: #6e3091;
  border-left: 1px solid #6e3091;
  padding-left: 5%;
  display: inline-block;
  vertical-align: middle;
}
.vcard_box .clear{
  clear: both;
}

// articleDetail.html
.article_detail {
    background-color: #fff;
    border-bottom: 1px solid #ccc;
}

.article_detail h3 {
    text-align: center;
    font-size: @l-size;
}

.ad_format {
    text-align: justify;
    margin: 5%;
    line-height: 20px;
    background: #fff;
    word-break: break-word;
}

.ad_format img{
    text-align: center;
    width: 100%;
    float: left;
    // height: 100%;   
}
.ad_goHome {
  width:50px;
  height:50px;
  position:fixed;
  right:10px;
  bottom:10px;
}
.ad_goHome img{
  width:100%;
}
.location_page{
    text-align: center;
    margin-top: 20%;
    border: 1px solid #ccc;
    background-color: #fff;
    height: 200px;
    width: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -100px 0 0 -100px;
    border-radius: 5px;
}
.location_page h3{
    text-align: left;
    margin: 20% 5%;
    line-height: 20px;
    font-size: @s-size;
}
.location_page span{
    display: inline-block;
    background-color: rgba(110,48,145,0.8);
    padding: 5% 0;
    margin: 0 5%;
    width: 90%;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    font-size: @m-size;
    -webkit-tap-highlight-color: transparent;
}


// single.html
 .single_show {
     width: 100%;
     height: 100%;
     position:fixed;
     left:0px;
     top:0px;
     white-space: nowrap;
     background: rgba(0,0,0,0.9);
     display: block;
     vertical-align:middle;
     text-align:center;
     z-index:2;
     cursor:pointer;
     display: none;
 }
 
 .single_show img{
     background: #fff;
     position:absolute;
     left:0px;
     top:70px;
 }
 .single_describe{
     width:100%;
     height:auto;
     text-align:center;
     line-height:30px;
     display:block;
     color:#fff;
     font-size:@l-size;
     position:absolute;
     left:0px;
     top:0px;
     cursor:pointer;
     margin-top: 10px;
     white-space:initial;
     padding:0 10%;
     box-sizing:border-box;
 }

//遮罩
.base_shadow {
    background: rgba(0,0,0,0.4);
    display: none;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 100; /* 此处的图层要大于页面 */
    display:none;
    .base_alert{
        width: 250px;
        min-height: 35px;
        background-color: #fff;
        border-radius: 5px;
        position: relative;
        top: 50%;
        left: 50%;
        margin: -28px 0 0 -135px;
        padding: 10px;
        img{
          vertical-align: middle;
          margin-right: 2%;
        }
        span{
          font-size:@m-size;
          vertical-align: middle;
        }
    }
    .base_tip{
        width: 150px;
        height: 36px;
        background-color: #fff;
        border-radius: 5px;
        position: relative;
        top: 50%;
        left: 50%;
        margin: -28px 0 0 -75px;
        text-align: center;
        line-height: 32px;
        padding: 10px;
        font-size: 1.3rem;
        img{
          vertical-align: middle;
          margin-right: 2%;
        }
    }
}

//透明遮罩
.transparent_shadow{
  background-color: transparent;
  // display: none;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 101; /* 此处的图层要大于页面 */
  .tip{
      display: none;
      font-size: 1.4rem;
      width: 190px;
      height: 36px;
      background-color: #fff;
      border-radius: 5px;
      position: relative;
      top: 50%;
      left: 50%;
      margin: -28px 0 0 -95px;
      text-align: center;
      line-height: 32px;
      padding: 10px;
      img{
        vertical-align: middle;
        margin-right: 2%;
      }
  }
  //密码框
  .password{
    // display: none;
    font-size: 1.4rem;
    width: 250px;
    height: 110px;
    background-color: #fff;
    border-radius: 5px;
    position: relative;
    top: 50%;
    left: 50%;
    margin: -55px 0 0 -125px;
    text-align: center;
    i{
      font-size: 2.5rem;
      color: #ccc;
      position: absolute;
      transform: rotate(-45deg);
      top: 2%;
      right: 2%;
      cursor: pointer;
      font-style:normal;
    }
    h1{
      font-style: normal;
      font-size: 1.6rem;
      color: rgba(0, 0, 0, 0.7);
      padding: 3% 0;
      border-bottom: 1px solid #ebebeb;
      margin-bottom: 2%;
    }
    small{
      color: rgba(0, 0, 0, 0.4);
    }
    .inputItems{
      // border: 1px solid rgba(0, 0, 0, 0.3);
      width: 85%;
      margin: 2% auto;
    }
    .inputItems input{
      display: inline-block;
      width: 15%;
      height: 30px;
      text-align: center;
      border: 1px solid rgba(0, 0, 0, 0.3);
      border-right: 0;
    }
    .inputItems input:last-child{
      border-right: 1px solid rgba(0, 0, 0, 0.3);
    }
  }
}

//密码框
.password_shadow{
  background: rgba(0,0,0,0.4);
  // background-color: transparent;
  // display: none;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 101; /* 此处的图层要大于页面 */
  //密码框
  .password{
    // display: none;
    font-size: 1.4rem;
    width: 250px;
    height: 110px;
    background-color: #fff;
    border-radius: 5px;
    position: relative;
    top: 42%;
    left: 50%;
    margin: -55px 0 0 -125px;
    text-align: center;
    i{
      font-size: 2.5rem;
      color: #ccc;
      position: absolute;
      transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
      top: 2%;
      right: 2%;
      cursor: pointer;
      font-style:normal;
    }
    h1{
      font-style: normal;
      font-size: 1.6rem;
      color: rgba(0, 0, 0, 0.7);
      padding: 3% 0;
      border-bottom: 1px solid #ebebeb;
      margin-bottom: 2%;
    }
    small{
      color: rgba(0, 0, 0, 0.4);
    }
    .error{
      color: rgba(255,4,4,0.8);
      display: none;
    }
    .inputItems{
      position: relative;
      width: 85%;
      height: 35px;
      // border: 1px solid red;
      margin: 5% auto;
    }
    .inputItems input{
      width: 100%;
      z-index: 2;
      position: absolute;
      top: 0;
      left: 0;
      background-color: transparent;
      letter-spacing: 29px;
      font-size: 2.2rem;
      color: rgba(2, 2, 2, 0.6);
      padding: 1% 7%;
      border: 0;
      -webkit-tap-highlight-color:rgba(0,0,0,0);
      -webkit-user-modify:read-write-plaintext-only;
    }
    .inputItems span{
      display: inline-block;
      width: 18.99%;
      height: 30px;
      border: 1px solid rgba(0, 0, 0, 0.3);
      border-right: 0;
    }
    .inputItems span:last-child{
      border-right: 1px solid rgba(0, 0, 0, 0.3);
    }
    .spanItems{
      position: absolute;
      top: 0;
      left: 0;
      // border: 1px solid green;
      width: 100%;
    }
    // .inputItems{
    //   // border: 1px solid rgba(0, 0, 0, 0.3);
    //   width: 85%;
    //   margin: 2% auto;
    // }
    // .inputItems input{
    //   display: inline-block;
    //   -webkit-appearance: none;
    //   width: 15%;
    //   height: 30px;
    //   text-align: center;
    //   border: 1px solid rgba(0, 0, 0, 0.3);
    //   border-right: 0;
    //   border-radius: 0;
    // }
    // .inputItems input:last-child{
    //   border-right: 1px solid rgba(0, 0, 0, 0.3);
    // }
  }
}

/*logo*/
.logo{
  position: absolute;
  left: 3%;
  top: 0;
  width: 130px;
  height: 130px;
}
.logo img{
  width:100%;
  margin:auto;
  position:absolute;
  top:0px;
  left:0px;
  right:0px;
  bottom:0px;
}
.logo002{
  position: absolute;
  bottom: 5%;
  left: 50%;
  margin: 0 0 0 -65px;
  width: 130px;
  height: 130px;
  z-index: 2;
}
.logo002 img{
    width:100%;
    margin:auto;
    position:absolute;
    top:0px;
    left:0px;
    right:0px;
    bottom:0px;
}

// 版权信息
.theme6_copyright{
    text-align: center;
    width: 100%;
    padding-bottom: 2%;
    background-color: #2D3132;
}
.theme6_copyright a{
  color: rgb(106, 110, 111);
  border-bottom: 1px solid;
  padding-bottom: 2px;
  display: inline-block;
  margin:2% auto;
  font-size: @s-size;
  cursor: pointer;
  -webkit-tap-highlight-color:transparent;
}

//留言板样式
.board_box{
  background: url('../image/board.png') no-repeat fixed top transparent;
  position: fixed;
  width: 100%;
  // background-size: contain;
  overflow: auto;
}
.board_box .board_content{
  position: absolute;
  width: 100%;
  top: 0;
}
.board_box h3{
  text-align: left;
  padding-bottom: 10px;
  border-bottom: 1px solid #fff;
  width: 85%;
  margin: 5% auto;
  font-size: 1.8rem;
  color: #fff;
}
.board_content textarea{
  margin: 0 auto;
  width: 82%;
  display: block;
  border-radius: 5px;
  border: none;
  height: 150px;
  font-size: 1.5rem;
  padding: 2%;
}
.board_btn{
  background-color: #39d167;
  width: 86%;
  border-radius: 3px;
  display: block;
  height: 45px;
  margin: 5% auto 20%;
  text-align: center;
  line-height: 45px;
  font-size: 1.6rem;
  cursor: pointer;
}
.board_reload{
  background-color: #3bbffc;
  width: 86%;
  border-radius: 3px;
  display: block;
  height: 45px;
  margin: 5% auto 0%;
  text-align: center;
  line-height: 45px;
  font-size: 1.6rem;
  cursor: pointer;
}
.board_box a{
  color: #fff;
}
.board_list{
  width: 85%;
  margin: 0 auto;
  padding-bottom: 15%;
}
.board_list li{
  margin: 5% 0;
}
.board_list li a{
  color: blue;
  font-size: 1.3rem;
}
.board_list li>img{
  border-radius: 50%;
  border: 0;
  margin-top: 2%;
  border: 1px solid #ccc;
}
.board_list_right{
  float: right;
  background-color: #D2E4FF;
  width: 68%;
  padding: 2%;
  border-radius: 4px;
  position: relative;
  margin-top: 2%;
}
.board_list_right span{
  color: #797878;
  font-size: 1.4rem;
}
.board_list_right p{
  margin: 4% 0 0;
  color: #424141;
  font-size: 1.2rem;
  line-height: 25px;
}
.board_list_right i{
  width: 15px;
  height: 15px;
  display: inline-block;
  position: absolute;
  top: 35%;
  left: -5px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  background-color: #D2E4FF;
  z-index: -1;
}
.board_list_left{
  float: left;
  background-color: #F9F7F7;
  width: 68%;
  padding: 2%;
  border-radius: 4px;
  position: relative;
  margin-top: 2%;
  margin-right: 6%;
}
.board_list_left span{
  color: #797878;
  font-size: 1.4rem;
}
.board_list_left p{
  margin: 4% 0 0;
  color: #424141;
  font-size: 1.2rem;
  line-height: 25px;
}
.board_list_left i{
  width: 15px;
  height: 15px;
  display: inline-block;
  position: absolute;
  top: 35%;
  right: -5px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  background-color: #F9F7F7;
  z-index: -1;
}
//loading全局样式
.infinite-list-item{
  height: 54px;
  width: 100%;
  display: inline-block;
  line-height: 54px;
  text-align: center;
  border: none;
}

//全局密码框样式
#limit_password_box{
  display: none;
}
//移动建站通知弹框
.notice_box{
  width:100%;
  height:100%;
  position:absolute;
  background:rgba(0,0,0,0.8);
  display: none;
  left:0px;
  top:0px;
  z-index:1002;
}
.notice_tip{
  font-size: 1.4rem;
  width: 270px;
  height: 160px;
  padding: 10px;
  background-color: #fff;
  border-radius: 5px;
  position: absolute;
  top: 42%;
  left: 50%;
  margin: -60px 0 0 -135px;
  text-align: center;
  z-index: 1002;
}
.notice_tip span{
  width: 100%;
  padding: 0 10px;
  display: block;
  box-sizing: border-box;
  text-align: left;
  line-height: 24px
}
.notice_tip div{
  position: absolute;
  left: 50%;
  bottom: 10px;
  text-align: center;
  line-height: 35px;
  margin-left: -40px; 
  cursor: pointer;
  width: 80px;
  height: 35px;
  border-radius: 5px;
  background: #6c3;
  color: #fff;
  font-size:@l-size;
}
   


// 移动建站底部导航条
.toolbar_shadow{
  background: url('../image/toolbar/bg.png') no-repeat 43% 5% rgba(0,0,0,0.7);
  background-size: 92%;
  // background-color: transparent;
  // display: none;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 1001; /* 此处的图层要大于页面 */
  ul{
    text-align: center;
    width: 100%;
    background-color: #2d2d2d;
    position: absolute;
    bottom: 0;
    border-top: 1px solid #484747;
    z-index:1003;
    li{
      width: 25%;
      float: left;
      box-sizing: border-box;
      padding: 3% 0;
      cursor: pointer;
      div{
        color: #fff;
        margin-top: 10%;
      }
    }
    :hover{
      background-color: #666;
    }
  }
}


// 移动建站新透明遮罩
.shade_box{
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0px;
  top:0px;
  z-index: 1001; /* 此处的图层要大于页面 */
  background:url('../image/shadebox.png') no-repeat;
  background-size:100%;
}
.shade_btn{
  width:50%;
  height:3rem;
  position:absolute;
  left:25%;
  bottom:30%;
}
.shade_btn img{
  width:100%;
}

// 移动建站透明遮罩层
.themeScan_Iframe{
  width: 100%;
  height: 100%;
  background: transparent;
  position: absolute;
  left: 0px;
  top:0px;
  z-index: 1001; /* 此处的图层要大于页面 */
}

// 添加微网站顶部最新消息栏
.LatestNews{
  width: 100%;
  height: 4rem;
  background: rgba(0, 0, 0, 0.6);
  position:absolute;
  left:0;
  top:0;
  overflow: hidden;
}
.LatestNews .newsBox{
  width: 95%;
  height: 3.2rem;
  margin: 0.4rem auto;
  padding-left: 1.5rem;
  background: url('../image/LatestNews/horn.png') no-repeat left center;
  background-size: auto 60%;
  box-sizing:border-box;
  animation:scrollText2 6s infinite  ;
  -webkit-animation:scrollText2 6s infinite  ;
}
.latestNewsBox{
  width:100%;
  display: box;
  display: -webkit-box;
}
.LatestNews .newsTitle{
  display: block;
  border-right: 1px solid #fff;
  line-height: 3.2rem;
  padding: 0 1rem;
  font-size: 1.4rem;
  color: #fff;
  margin-right: 1rem;
}
.LatestNews .newsContent{
  display: block;
  font-size: 1.3rem;
  line-height: 3.2rem;
  color: #fff;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@-webkit-keyframes scrollText2 {
   0%{
       -webkit-transform: translateX(100%);
   }
   100%{
       -webkit-transform: translateX(-100%);
   }
 }


/*时间轴页面*/
.htmleaf_container{
  background: #f6f6f6;
  padding-top: 1.5rem;
}
.timeline_container{
  width: 100%;
  background: #f6f6f6;
  margin: 0 auto;
}
.timeline{
  width: 100%;
  height: 9rem;
  display: box;
  display: -webkit-box;
}
.timeline_time{
  width: 30%;
  height: 100%;
  text-align: right;
  box-sizing: border-box;
  background-size: 10%;
  line-height: 2rem;
  position: relative;
  border-right: 1px solid #3abde9;
}
.timeline_time p{
  width: 100%;
  text-align: right; 
}

.timeline_time img{
  width: 1rem;
  height: 1rem;
  position: absolute;
  right: -0.5rem;
  top: -0.5rem;
}
.timeline_time_first img{
  width: 2rem;
  height: 2rem;
  position: absolute;
  right: -1rem;
  top: -1rem;
}
.timeline_content{
  width: 65%;
  display: box;
  display: -webkit-box;
  padding-left: 1rem;
  box-sizing: border-box;
}
.timeline_img{
  width: 70px;
  height: 70px;
  margin-right: 1rem;
}
.timeline_img img{
  width: 100%;
  height: 100%;
}
.timeline_con{
  -webkit-box-flex: 1;
}
.timeline_con h2{
  line-height: 0;
}
.timeline_con{
  line-height: 1.5rem;
}
.timeline_more{
  width: 100%;
  height: 3rem;
  padding: 1rem 0;
  line-height: 3rem;
  text-align: center;
  background: #f6f6f6;
}
.timeline_more span{
  width: 30%;
  height: 3rem;
  display: block;
  line-height: 3rem;
  text-align: center;
  background: #eee;
  color: #999;
  margin :  0rem auto;
  border-radius: 3px;
  cursor: pointer;
}


/*最新动态详情页*/
.dynamic_contaniner{
  overflow: scroll;
}
.dynamic_bot{
  background: #fff;
  border-top: 1px solid #ccc;
  box-sizing: border-box;
  width: 100%;
}
.dynamic_exp{
  width: 100%;
  padding: 1rem 1rem 0; 
  margin: 0 auto 1rem;
  background: #fff;
  box-sizing: border-box;
}
.dynamic_exp_top{
  width: 100%;
  display: box;
  display: -webkit-box;
}
.dynamic_exp_img{
  margin-right: 1rem;
  border-radius: 50%;
}
.dynamic_exp_name{
  width: 40%;
  padding: 1rem 0rem;
  box-sizing: border-box;
}
.dynamic_exp_name span{
  line-height: 2rem;
  font-size: @m-size;
}
.dynamic_exp_name span.dynamic_exp_date{
  font-size: @b-size;
  color: #999;
}
.dynamic_exp_nice{
  width: 40%;
  padding-top: 35px;
  box-sizing: border-box;
  text-align: right;
}
.dynamic_exp_nice span{
  width: 20%;
  height: 20px;
  background: url('../image/LatestNews/nice.png') no-repeat left center;
  padding-left: 1rem;
  margin-right: 1rem;
  display: inline-block;
  background-size: contain;
  line-height: 2rem;
}

.dynamic_exp_nice span.dynamic_exp_com{
  background: url('../image/LatestNews/tip.png') no-repeat left center;
  background-size: contain;
}
.dynamic_exp_title{
  color: #42946a;
  width: 100%;
  height: 3rem;
  line-height: 3rem;
  font-size: 1.6rem;
}
.dynamic_exp_word{
  width: 100%;
  color: #999;
  line-height: 1.5rem;
  font-size: 1.3rem;
  margin-bottom: 1rem;
}
.dynamic_exp_imgs{
}
.dynamic_exp_imgs img{
  width: 100%;
  margin-bottom: 3%;
}
.dynamic_usr_content{
  width: 100%;
  padding: 0.5rem 1rem;
  background: #fff;
  box-sizing: border-box;
}
.dynamic_usr_news{
  border-bottom: 1px solid #eee;
  height: 30px;
  line-height: 30px;
  color: #999;
  margin-bottom: 1rem;
  font-size: 1.4rem;
  //background-image: url('../image/LatestNews/heart.png');
  //background-repeat: no-repeat;
  //background-position: right 0px;
  //background-size: 30px;
  display: box;
  display: -webkit-box;
}
.dynamic_usr_latest{
  width: 65%;
  display: block;
}
.dynamic_usr_img{
  width: 10%;
  height: 30px;
  display: block;
  background-image: url('../image/LatestNews/heart.png');
  background-repeat: no-repeat;
  background-position: right 0px;
  background-size: 30px;
  margin-right: 5%;
}
.dynamic_usr_img_nice{
  background-position: right -30px; 
}
.dynamic_usr_wc{
  width: 20%;
  height: 30px;
  background: #afd3c0;
  color: #fff;
  text-align: center;
  line-height: 30px;
  display: block;
  border-radius: 3px;
}
.dynamic_usr_light{
  background-position: right -30px;
}
.dynamic_usr_box{
  width: 100%;
  height: 6rem;
  display: box;
  display: -webkit-box;
}
.dynamic_usr_box textarea{
  width: 78%;
  margin-right: 2%;
  height: 6rem;
  resize: none;
  border: 1px solid #ccc;
  display: block;
  box-sizing: border-box;
  outline: none;
}
.dynamic_usr_box span{
  width: 20%;
  height: 3rem;
  background: #afd3c0;
  color: #fff;
  text-align: center;
  line-height: 3rem;
  display: block;
  border-radius: 3px;
  margin-top: 3rem;
}
.dynamic_usr_word{
  width: 100%;
  padding-left: 6.5rem;
  line-height: 2rem;
  font-size: 1.4rem;
  color: #999;
  box-sizing: border-box;
  margin: -0.5rem 0 0.5rem;
}
.dynamic_exp_chat{
  width: 100%;
  padding: 0.5rem 1rem;
  box-sizing: border-box;
  background: #afd3c0;
  position: absolute;
  left: 0;
  bottom: 0;
}
.dynamic_usr_write{
  display: none;
  position: absolute;
  left: 0;
  bottom: 0;
}
.dynamic_exp_chat .dynamic_exp_name{
  width: 80%;
}
.dynamic_exp_chat .dynamic_usr_consult{
  position: absolute;
  right: 0.5rem;
  top: -1.5rem;
  width: 18%;
}
.dynamic_exp_name span{
  color: #333;
}
.dynamic_exp_chat span.dynamic_exp_date span{
  color: #333;
  font-size: 1.2rem;
}
/*适配手机*/
@media screen and (width: 320px) {
  .password_shadow{
      .password{
        width: 250px;
        height: 136px;
        margin: -68px 0 0 -125px;
      }
  }
  .password_shadow .password .inputItems span {
      height: 35px;
  }
  .password_shadow .password .inputItems input {
      letter-spacing: 30px;
      font-size: 2.2rem;
      color: rgba(2, 2, 2, 0.6);
      padding: 2.8% 8%;
      border: 0;
      font-size: 2rem;
      -webkit-tap-highlight-color:rgba(255,0,0,0);
  }
  .notice_tip{
    width: 250px;
    height: 130px;
    margin: -55px 0px 0px -135px;
  }
  .notice_tip span{
    line-height:20px;
  }
  .timeline_time{
    padding-right: 1.5rem;
  }
}
@media screen and (min-width: 321px) and (max-width: 360px) {
    html {
        font-size: 62.5%;
    }
    .logo{
      left:0%;
    }
    .logo002{
      bottom:0%;
    }
    .logo img,.logo002 img{
      width:80%;
    }
    .transparent_shadow{
      .base_tip{
        padding: 5px;
        }
    }
    .password_shadow{
        .password{
          width: 250px;
          height: 136px;
          margin: -68px 0 0 -125px;
        }
    }
    .password_shadow .password .inputItems span {
        height: 35px;
    }
    .password_shadow .password .inputItems input {
        letter-spacing: 34px;
        font-size: 2.2rem;
        color: rgba(2, 2, 2, 0.6);
        padding: 3.5% 10%;
        border: 0;
        font-size: 2rem;
    }
    .timeline_time p{
      width: 80%;
      text-align: right; 
    }
    
}

@media screen and (min-width: 361px) and (max-width: 376px) {
    html {
        font-size: 66.5%;
    }
    .user_create {
        width: 105px;
    }
    .menu_list li {
        height: 115px;
    }
    .transparent_shadow{
      .tip{
        font-size: 1.5rem;
        width: 216px;
        margin: -28px 0 0 -108px;
        }
    }
    .password_shadow .password {
      height: 140px;
    }
    .timeline_time p{
      width: 80%;
      text-align: right; 
    }
    .timeline_content{
      padding-left: 1.5rem;
    }
}

@media screen and (min-width: 377px) {
    html {
        font-size: 75.5%;
    }
    .base_shadow {
      .base_alert{
          width: 280px;
          margin: -28px 0 0 -150px;
      }
    }
    .user_create {
        width: 120px;
    }
    .menu_list li {
        height: 125px;
    }
    .transparent_shadow{
      .tip{
        font-size: 1.5rem;
        width: 236px;
        margin: -28px 0 0 -118px;
        }
    }
    .password_shadow{
        .password{
          width: 300px;
          height: 160px;
          margin: -80px 0 0 -150px;
        }
    }
    .password_shadow .password .inputItems span {
        height: 45px;
    }
    .password_shadow .password .inputItems input {
        letter-spacing: 33px;
        font-size: 2.2rem;
        color: rgba(2, 2, 2, 0.6);
        padding: 1% 8%;
        border: 0;
    }
    .timeline_time p{
      width: 80%;
      text-align: right; 
    }
    .timeline_content{
      padding-left: 1.5rem;
    }
}
@media screen and (width: 480px) {
  .password_shadow{
    .password{
      width: 300px;
      height: 160px;
      margin: -110px 0 0 -150px;
    }
  }
 .password_shadow .password .inputItems input {
    letter-spacing: 41px;
    font-size: 2.2rem;
    color: rgba(2, 2, 2, 0.6);
    padding: 3% 8%;
    border: 0;
  }
}
 
//魅族手机单独处理
@media screen and (width: 384px) and (height: 519px) {
  html {
    font-size: 62.5%;
  }
  .password_shadow .password .inputItems input {
    letter-spacing: 41px;
    font-size: 2.2rem;
    color: rgba(2, 2, 2, 0.6);
    padding: 4% 10%;
    border: 0;
  }
  
}


//安卓手机调起键盘高度重新计算（然并卵）
//@media screen and (max-height: 300px) {
//  html {
//    font-size: 62.5%;
//  }
//  .password_shadow .password .inputItems input {
//    letter-spacing: 33px;
//    font-size: 2.2rem;
//    color: rgba(2, 2, 2, 0.6);
//    padding: 3.5% 10%;
//    border: 0;
//    font-size: 2rem;
//  }
//  
//}

