/*css基础类，存放全局样式，公共组件，以及网页适配*/
/*字体大小*/
/*常用色值*/
* {
  -webkit-overflow-scrolling: touch;
}
/*公共样式*/
html {
  font-size: 62.5%;
  width: 100%;
  height: 100%;
}
body {
  margin: 0 auto;
  color: #595757;
  background-color: #ebebeb;
  width: 100%;
  height: 100%;
}
#wrap {
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-size: 1.4rem;
}
a:link,
a:visited {
  color: #595757;
  text-decoration: none;
}
a:hover,
a:active {
  color: #595757;
  text-decoration: none;
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
p {
  margin: 0;
}

/*提问页*/
.publish{
  width: 100%;
  height: 100%;
}

.pub_area{
  width: 100%;
  height: 15rem;
  margin: 0.5rem auto;
  display: block;
  resize: none;
  outline: none;
  line-height: 2rem;
  padding-left: 10px;
  box-sizing: border-box;
  border: none;
  position: relative;
  font-size: 1.4rem;
}
.pub_area_box{
  padding-left: 0px;
}
.pub_money{
  width: 100%;
  height: 8rem;
  margin: 1rem auto;
  background: #fff;
}
.pub_money p{
  width: 100%;
  height: 3rem;
  line-height: 3rem;
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 1.4rem;
  margin-bottom: 1rem;
}
.pub_money_box{
  width: 95%;
  padding-left: 5%;
  height: 4rem;
  display: box;
  display: -webkit-box;
}
.pub_money_box li{
  width: 20%;
  margin-right: 4%;
  height: 3rem;
  line-height: 3rem;
  text-align: center;
  background: #fff;
  border-radius: 3px;
  color: #666;
  font-size: 1.4rem;
  border: 1px solid #ccc; 
}
.pub_money_box li span{
  font-size: 1rem;
}
.pub_money_box li i{
  font-style: normal;
}
.pub_money_box li.active{
  background: #5595E3;
  color: #fff;
  border-color: transparent;
}
.pub_tip{
  width: 100%;
  padding-left: 10px;
  box-sizing: border-box;
  line-height: 1.6rem;
  margin-bottom: 1rem; 
  font-size: 1.3rem;
}
.pub_btn{
  width: 25%;
  height: 3rem;
  background: #fff;
  position: absolute;
  right: 0;
  bottom: 0;
}
.que_btn{
  width: 100%;
  height: 5rem;
  background: #fff;
  padding-top: 1rem;
}
.pub_btn a{
  width: 100%;
  height: 3rem;
  line-height: 3rem;
  text-align: center;
  display: block;
  background: #6BCDCF;
  margin: 0rem auto;
  border-radius: 3px;
  color: #fff;
}
.que_btn a{
  width: 95%;
  height: 4rem;
  line-height: 4rem;
  text-align: center;
  display: block;
  background: #5595E3;
  margin: 0rem auto;
  border-radius: 3px;
  color: #fff;
}
/*问题列表页*/
.questionList{
  width: 100%;
  height: 100%;
  background: #F2F2F2;
  display: box;
  display: -webkit-box;
  -webkit-box-orient:vertical;
}
.que_list{
  width: 100%;
  overflow-y: auto;
}
.question_list{
  -webkit-box-flex: 1;
}
.que_list li{
  width: 100%;
  line-height: 1.6rem;
  padding:5px 10px 10px;
  background: #fff;
  margin-bottom: 10px;
  box-sizing: border-box;
  word-break: break-all;
}
.que_list_money{
  color: #E88076;
  margin-right: 5px;
  width: 60px;
  display: inline-block;
}
.que_list_time{
  margin-left: 24%;
  width: 24%;
  height: 2.6rem;
  line-height: 2.6rem;
  display: inline-block;
  text-align: center;
}
.que_list_close{
  display: inline-block;
  width: 24%;
  height: 2.6rem;
  line-height: 2.6rem;
  background: #DCDCDC;
  color: #fff;
  text-align: center;
  border-radius: 3px;
  margin-top: 0.5rem;
}
.que_list_unsolved{
  background: #FC5759;
  display: inline-block;
  width: 24%;
  height: 2.6rem;
  line-height: 2.6rem;
  color: #fff;
  text-align: center;
  border-radius: 3px;
  margin-top: 0.5rem;
}


/*聊天列表页*/
.chatList{
  width: 100%;
  height: 100%;
  background: #eee;
  display: box;
  display: -webkit-box;
  -webkit-box-orient:vertical;
}
.chat_list{
  width: 100%;
  // -webkit-box-flex:1;
  overflow-y: auto;
}
.chat_list li{
  width: 100%;
  line-height: 1.6rem;
  padding: 0px 5px;
  box-sizing: border-box;
}
.chat_list_head{
  width: 20%;
}
.chat_list_usr .chat_list_head{
  float: right;
}
.chat_list_exp .chat_list_head{
  float: left;
}
.chat_list li:after{
  content: "."; 
  display: block;
  height: 0; 
  clear: both; 
  visibility: hidden;
}
.chat_list_head img{
  width: 60px;
  height: 60px;
  margin: 1rem auto 0.5rem;
  display: block;
  border-radius: 50%;
}
.chat_list_head i{
  width: 100%;
  display: block;
  text-align: center;
  line-height: 1.6rem;
  font-style: normal; 
}
.chat_list_content{
  width: 80%;
  box-sizing: border-box;
  padding:2px 3px;
  word-break: break-all;
  float: left;
}
.chat_list_content span{
  border: 10px solid transparent;
  -webkit-border-image: url('../image/bor.png') 35 33 35 30 stretch;
  display: inline-block;
  color: #666;
  margin: 1.3rem 0 0.5rem;
}
.chat_list_usr span{
  -webkit-border-image: url('../image/bor-white.png') 35 33 35 30 stretch;
  float: right;
  color: #666;
}
.chat_list_exp span{
  -webkit-border-image: url('../image/bor-orange.png') 35 33 35 30 stretch;
}
.chat_box{
  width: 100%;
  height: 6rem;
  background: #F2F2F2;
  border-top: 1px solid #ccc;
  padding: 1.5rem 0.5rem;
  box-sizing: border-box;
  display: box;
  display: -webkit-box;
}
.chat_inp{
  -webkit-box-flex: 1;
  height: 3rem;
  line-height: 3rem;
  padding-left: 10px;
  box-sizing: border-box;
  border: none;
  outline: none;
  display: block;
  font-size: 1.4rem;
}
.chat_btn{
  width: 22%;
  height: 3rem;
  line-height: 3rem;
  text-align: center;
  display: block;
  background: #5595E3;
  color: #fff;
  border-radius: 3px;
  margin: 0 2%;
}
.js_chat_ts{
  text-align: center;
}
.js_chat_ts i{
  font-style: normal;
  background: #b5b2b2;
  color: #fff;
  border-radius: 2px;
  padding: 3px;
  font-size: 12px;
}
.evaluate_box{
  width: 100%;
  height: 10rem;
  border-top: 1px solid #ccc;
  padding: 0.5rem;
  background: url('../image/close.png') no-repeat right top #fff;
  background-size: auto 80%;
  box-sizing: border-box;
  display: none;
}
.evaluate_tip{
  background: url('../image/comment.png') no-repeat left center;
  background-size: 6%;
  width: 100%;
  height: 2rem;
  line-height: 2rem;
  padding-left: 2rem;
  box-sizing: border-box;
  color: #333;
  margin-bottom: 0.5rem;
}
.evaluate_con{
  width: 85%;
  line-height: 1.8rem;
  color: #999
}
.chat_goHome{
  width: 50px;
  height: 50px;
  position: fixed;
  right: 10px;
  bottom: 6.5rem;
  z-index: 2;
}
.chat_goHome img{
  width: 100%;
}
/*评价页*/
.eva_box{
  width: 100%;
  height: 6rem;
  background: #fff;
  line-height: 6rem;
  padding-left: 10px;
  box-sizing: border-box;
  position: absolute;
  left: 0px;
  bottom: 0px;
}
.eva_nice{
  width: 35%;
  height: 24px;
  line-height: 24px;
  display: inline-block;
  background-image: url('../image/nice.png');
  background-repeat: no-repeat;
  background-position: right 0px;
  background-size: 24px;
  margin-right: 25%;
}
.eva_nice_light{
  background-position: right -24px;
}
.eva_btn{
  width: 35%;
  height: 3rem;
  background: #5595E3;
  display: inline-block;
  line-height: 3rem;
  text-align: center;
  color: #fff;
  border-radius: 3px;
}
/*问题详情页*/
.detail_list li{
  margin-bottom: 0;
}   
.detail_list .chat_list_usr span{
  -webkit-border-image: url('../image/bor-blue.png') 35 33 35 30 stretch;
  float: right;
  color: #fff;
}
.detail_list{
  margin-bottom: 10px;
}     
.detail_box{
  width: 100%;
  height: 6rem;
  background: #fff;
  padding: 1.5rem 10px;
  box-sizing: border-box;
  position: absolute;
  left: 0;
  bottom: 0;
}
.detail_close,.detail_goon{
  width: 35%;
  height: 3rem;
  line-height: 3rem;
  display: inline-block;
  text-align: center;
  background: #5595E3;
  color: #fff;
  margin-right: 28%;
  border-radius: 3px;
}
.detail_goon{
  margin-right: 0;
}
/*适配手机*/
@media screen and (max-width: 360px) {
  html {
    font-size: 62.5%;
  }
}
@media screen and (min-width: 361px) and (max-width: 376px) {
  html {
    font-size: 66.5%;
  }
}
@media screen and (min-width: 377px) {
  html {
    font-size: 75.5%;
  }
}
/*安卓手机唤起键盘定位触发问题*/
@media (max-height: 400px) { 
  .footer,.detail_box,.eva_box{
    display: none;
  }
}
