/*css基础类，存放全局样式，公共组件，以及网页适配*/
/*字体大小*/
/*常用色值*/
* {
  -webkit-overflow-scrolling: touch;
}
/*公共样式*/
html {
  font-size: 62.5%;
  width: 100%;
  height: 100%;
}
body {
  margin: 0 auto;
  color: #595757;
  background-color: #ebebeb;
  width: 100%;
  height: 100%;
}
#wrap {
  width: 100%;
  height: 60rem;
}
a:link,
a:visited {
  color: #595757;
  text-decoration: none;
}
a:hover,
a:active {
  color: #595757;
  text-decoration: none;
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
p {
  margin: 0;
}
/*首页*/
.index {
  width: 100%;
  height: 100%;
  background: url('../image/bg.png') no-repeat;
  background-size: cover;
  padding-top: 4rem;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.index_head {
  width: 100%;
  height: 4rem;
  line-height: 4rem;
  text-align: center;
  margin: 0 auto 4rem;
  font-family: '中黑';
  font-size: 2.6rem;
  color: #fff;
}
.index_main {
  width: 100%;
  padding: 0 7%;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.index_main div {
  width: 100%;
  height: 3.6rem;
  line-height: 3.6rem;
  text-align: center;
  margin-bottom: 1rem;
  color: #fff;
  font-family: '纤黑';
  font-size: 1.5rem;
}
.index_main div span {
  height: 100%;
  display: block;
}
.index_main div span img {
  height: 100%;
  display: block;
}
.index_main div input {
  box-flex: 1;
  -webkit-box-flex: 1;
  height: 100%;
  display: block;
  background: transparent;
  border: none;
  outline: none;
  color: #fff;
  font-family: '纤黑';
  font-size: 1.4rem;
  padding-left: 10px;
  cursor: pointer;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -webkit-appearance: none;
}
.index_main div a {
  float: left;
  font-family: '纤黑';
  font-size: 1.4rem;
  color: #fff;
  line-height: 2.6rem;
}
.index_main div a:nth-child(2) {
  float: right;
}
.index_main div.border {
  border: 1px solid #fff;
  display: box;
  display: -webkit-box;
}
.index_button {
  width: 32%;
  height: 3.6rem;
  line-height: 3.6rem;
  color: #fff;
  text-align: center;
  font-family: '中黑';
  font-size: 1.6rem;
  border: 1px solid #fff;
  margin: 2rem auto;
  cursor: pointer;
  position: relative;
}
.index_button a {
  color: #fff;
}
.index_button span {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #fff;
  display: block;
}
.index_button span:nth-child(1) {
  position: absolute;
  left: -4px;
  top: -4px;
}
.index_button span:nth-child(2) {
  position: absolute;
  right: -4px;
  top: -4px;
}
.index_button span:nth-child(3) {
  position: absolute;
  left: -4px;
  bottom: -4px;
}
.index_button span:nth-child(4) {
  position: absolute;
  right: -4px;
  bottom: -4px;
}
/*注册页*/
.register {
  width: 100%;
  height: 100%;
  background: url('../image/bg3.png') no-repeat;
  background-size: cover;
  padding-top: 3rem;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.reg_head {
  margin: 0 auto 2rem;
}
.reg_main {
  padding: 0 5% 0 0;
  margin-bottom: 2rem;
}
.reg_main div {
  dislay: box;
  display: -webkit-box;
}
.reg_main div span {
  width: 21%;
  text-align: right;
  border: 1px solid transparent;
  padding: 1% 10px 2% 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  color: #fff;
  font-family: '中黑';
}
.reg_main div input {
  border: 1px solid #fff;
}
.reg_main div input[type='button'] {
  width: 55%;
  text-align: center;
  margin-left: 10px;
  height: 100%;
  padding-left: 0;
  font-size: 1.4rem;
  -webkit-appearance: none;
}
.reg_tip {
  width: 100%;
  height: 3.6rem;
  text-align: center;
  font-family: '中黑';
  font-size: 1.4rem;
  color: #fff;
  position: relative;
}
.reg_tip label {
  width: 60%;
  height: 22px;
  display: block;
  background-image: url('../image/check.png');
  background-position: left top;
  background-repeat: no-repeat;
  cursor: pointer;
  line-height: 22px;
  margin: 0 auto;
  -webkit-tap-highlight-color: transparent;
}
.reg_tip input:checked + label {
  background-position: left bottom;
}
/*定制主页*/
.custom {
  width: 100%;
  height: 100%;
  background: url('../image/bg2.png') no-repeat;
  background-size: cover;
  padding-top: 4rem;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.custom_button {
  width: 60%;
}
/*分享页*/
.share {
  width: 100%;
  height: 100%;
  background: url('../image/bg4.png') no-repeat;
  background-size: cover;
  padding-top: 3rem;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.share_head {
  margin: 0 auto 1rem;
}
.share_main div {
  text-align: left;
  margin-bottom: 0.5rem;
  font-family: '中黑';
  font-size: 1.4rem;
}
.share_main input {
  width: 100%;
  height: 3.6rem;
  line-height: 100%;
  background: transparent;
  border: 1px solid #fff;
  padding-left: 10px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-family: '纤黑';
  font-size: 1.5rem;
  color: #fff;
  -webkit-appearance: none;
}
.share_main textarea {
  width: 100%;
  height: 9rem;
  line-height: 3rem;
  background: transparent;
  border: 1px solid #fff;
  text-indent: 10px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  color: #fff;
  font-family: '纤黑';
  font-size: 1.4rem;
  -webkit-appearance: none;
  outline: none;
  resize: none;
}
.share_icon {
  margin-top: 1rem;
  display: box;
  display: -webkit-box;
  position: relative;
}
.share_button {
  position: absolute;
  top: -2rem;
  left: 40%;
}
.share_icon .share_button span {
  height: 8px;
}
.share_main div.icon {
  width: 80px;
  height: 80px;
  border: 1px solid #fff;
}
/*选择模板页*/
.template {
  width: 100%;
  height: 100%;
  background: url('../image/bg5.png') no-repeat;
  background-size: cover;
  padding-top: 3rem;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.template_button {
  position: absolute;
  left: 36%;
  bottom: 3.5rem;
}
/*微名片*/
.card {
  width: 100%;
  height: auto;
  background: url('../image/bg6.png');
  background-size: cover;
  padding: 4rem 0 1rem;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.index_main div.card_box {
  position: relative;
  height: 70px;
}
.card_box label {
  width: 70px;
  height: 70px;
  display: block;
  cursor: pointer;
  border: 1px solid #fff;
  background-image: url('../image/plus.png');
  background-size: cover;
  position: relative;
  border-radius: 50%;
}
.card_box input {
  position: absolute;
  width: 70px;
  left: 21%;
  opacity: 0;
}
.card_box img {
  display: none;
  border: 1px solid #fff;
  border-radius: 50%;
}
.qrcode_box label {
  border-radius: 0%;
}
.qrcode_box img {
  border-radius: 0%;
}
.index_main div.card_area {
  height: 6rem;
}
.index_main div.card_area span {
  padding: 0 10px 0 0;
  line-height: 2.5rem;
}
.card_area textarea {
  box-flex: 1;
  -webkit-box-flex: 1;
  height: 100%;
  display: block;
  background: transparent;
  border: 1px solid #fff;
  text-indent: 10px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  color: #fff;
  font-family: '纤黑';
  font-size: 1.4rem;
  -webkit-appearance: none;
  outline: none;
  resize: none;
}
/*主题背景*/
.themeBg {
  width: 100%;
  height: 100%;
  background: url('../image/bg7.png');
  background-size: cover;
  padding: 3rem 0 1rem;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.themeBg_head {
  margin: 0 auto 2rem;
  text-align: left;
  text-indent: 10%;
}
.themeBg_main {
  width: 80%;
  height: 30rem;
  margin: 1rem auto;
}
.themeBg_button {
  position: absolute;
  width: 30%;
  left: 50%;
  top: 1rem;
}
.themeBg_input {
  position: absolute;
  width: 30%;
  left: 50%;
  top: 1rem;
  height: 3.6rem;
  line-height: 3.6rem;
  color: #fff;
  text-align: center;
  font-family: '中黑';
  font-size: 1.6rem;
  border: 1px solid #fff;
  margin: 2rem auto;
  cursor: pointer;
  opacity: 0;
}
/*适配手机*/
@media screen and (max-width: 360px) {
  html {
    font-size: 62.5%;
  }
}
@media screen and (min-width: 361px) and (max-width: 376px) {
  html {
    font-size: 66.5%;
  }
  #wrap {
    height: 65rem;
  }
  .themeBg_main {
    height: 35rem;
  }
  .index_button,
  .themeBg_input {
    height: 4rem;
    line-height: 4rem;
  }
  .index_main div {
    height: 4rem;
  }
  .reg_main div input[type='button'] {
    width: 50%;
  }
}
@media screen and (min-width: 377px) {
  html {
    font-size: 75.5%;
  }
  #wrap {
    height: 65rem;
  }
  .themeBg_main {
    height: 40rem;
  }
  .index_button,
  .themeBg_input {
    height: 4.5rem;
    line-height: 4.5rem;
  }
  .index_main div {
    height: 4.5rem;
  }
  .reg_main div input[type='button'] {
    width: 50%;
  }
}
